

web-console-sidebar {
    display: flex;
    flex-direction: column;
    background: white;
    border-right: 1px #dddddd solid;
    --width-narrow: 75px;
    --width-wide: 280px;
    --active-link-color: #ee2b27;
    --inactive-link-color: #757575;
    // Does not include notifications height
    max-height: calc(100vh - var(--header-height));
    position: -webkit-sticky;
    position: sticky;
    top: var(--header-height);

    web-console-sidebar-overflow {
        flex: 1;
    }

    web-console-footer {
        flex: 0 0 auto;

        &:first-child {
            margin-top: auto;
        }
    }
}