/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.root {
    -fx-background-color: eeeeee;
}

.button {
    -fx-font-size: 14;
    -fx-focus-color: gray;
}

.label {
    -fx-font-size: 14;
}

.check-box {
    -fx-font-size: 14;
    -fx-focus-color: gray;
}

.combo-box-base  {
    -fx-font-size: 14;
    -fx-focus-color: gray;
}

.combo-box-popup .list-view {
    -fx-font-size : 14pt;
}

.text-area {
    -fx-font-size: 14;
    -fx-background-color: transparent, transparent, transparent;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.text-area .scroll-bar:vertical:disabled {
    -fx-opacity: 0;
}

.text-field {
    -fx-font-size: 14;
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background, -fx-control-inner-background;
}

.text-field:focused {
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background, -fx-control-inner-background;
}

.table-view {
    -fx-focus-color: gray;
    -fx-font-size: 14;
}

.table-view .table-row-cell:selected {
    -fx-background-color: -fx-table-cell-border-color, -fx-cell-hover-color;
    -fx-background-insets: 0, 0 0 1 0;
}

.table-view:focused .table-row-cell:selected {
     -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-selection-bar;
}

.table-row-cell:empty {
    -fx-background-color: white;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

.tooltip {
    -fx-font-size: 14;
    -fx-background-radius: 0 0 0 0;
}

.page-corner {
    -fx-shape: " ";
}

.progress-indicator {
    -fx-progress-color: gray
}

.split-pane {
    -fx-background-color: -fx-box-border, eeeeee;
}

.titled-pane {
    -fx-font-size: 14;
}

.titled-pane:focused {
    -fx-text-fill: -fx-text-base-color;
}

.titled-pane:focused > .title {
    -fx-color: eeeeee;
}

.titled-pane:focused > .title > .arrow-button .arrow {
    -fx-background-color: black;
}

#banner {
   -fx-font-size: 20px;
   -fx-font-weight: bold;
   -fx-background-color: white
}
