

.grid.ui-grid--ignite(ui-grid='$ctrl.gridOptions' ui-grid-resize-columns ui-grid-hovering ui-grid-filters)
grid-no-data(grid-api='$ctrl.gridApi')
    span(translate='connectedClustersDialog.noData.noClustersMessage')
