//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

include /app/helpers/jade/mixins

.docs-header
    h1 Configure Ignite In-memory File Systems
.docs-body(ng-controller='igfsController')
    ignite-information(data-title='Configure IGFS only if you are going to use In-memory File System')
        ul
            li Ignite File System (#[a(href='https://apacheignite-fs.readme.io/docs/in-memory-file-system' target='_blank') IGFS]) is an in-memory file system allowing work with files and directories over existing cache infrastructure
            li IGFS can either work as purely in-memory file system, or delegate to another file system (e.g. various Hadoop file system implementations) acting as a caching layer (see #[a(href='https://apacheignite-fs.readme.io/docs/secondary-file-system' target='_blank') secondary file system]  for more detail)
            li In addition IGFS provides API to execute map-reduce tasks over file system data
    div(ignite-loading='loadingIgfsScreen' ignite-loading-text='Loading IGFS screen...' ignite-loading-position='top')
        div(ng-show='ui.ready')
            hr
            +main-table('IGFS', 'igfss', 'igfsName', 'selectItem(row)', '{{$index + 1}}) {{row.name}}', 'name')
            .padding-top-dflt(bs-affix)
                .panel-tip-container(data-placement='bottom' bs-tooltip='' data-title='Create new IGFS')
                    button.btn.btn-primary(id='new-item' ng-click='createItem()') Add IGFS
                +save-remove-clone-undo-buttons('IGFS')
                hr
            .bs-affix-fix
            div(bs-collapse='' data-allow-multiple='true' ng-model='ui.activePanels')
                form.form-horizontal(name='ui.inputForm' novalidate ng-if='contentVisible()')
                    .panel-group
                        include /app/modules/states/configuration/igfs/general

                        +advanced-options-toggle-default

                        div(ng-show='ui.expanded')
                            include /app/modules/states/configuration/igfs/secondary
                            include /app/modules/states/configuration/igfs/ipc
                            include /app/modules/states/configuration/igfs/fragmentizer
                            include /app/modules/states/configuration/igfs/misc

                            +advanced-options-toggle-default
