

form(
    name='ui.inputForm'
    id='service'
    novalidate
)
    include ./templates/general
    

.pc-form-actions-panel
    pre.message {{ $ctrl.result || $ctrl.message }}
    .pc-form-actions-panel__right-after
    
    
    button.btn-ignite.btn-ignite--link-success(
        type='button'
        ng-click='$ctrl.confirmAndReset()'
    )
        | Cancel
    pc-split-button(actions=`formActions`)
    