

button.btn-ignite.btn-ignite--primary(
    ng-click='$ctrl.startImport()'
    type='button'
) Import from Database

button.btn-ignite.btn-ignite--primary(
    ng-click='$ctrl.startImportFromTemplate()'
    type='button'
) Import from Template