<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright 2004-2018 H2 Group. Multiple-Licensed under the MPL 2.0,
and the EPL 1.0 (http://h2database.com/html/license.html).
Initial Developer: H2 Group
-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">

    <display-name>H2 Console Web Application</display-name>
    <description>
        A web application that includes the H2 Console servlet.
    </description>

    <servlet>
        <servlet-name>H2Console</servlet-name>
        <servlet-class>org.h2.server.web.WebServlet</servlet-class>
        <!--
        <init-param>
            <param-name>webAllowOthers</param-name>
            <param-value></param-value>
        </init-param>
        <init-param>
            <param-name>trace</param-name>
            <param-value></param-value>
        </init-param>
        -->
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>H2Console</servlet-name>
        <url-pattern>/console/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>/console.html</welcome-file>
    </welcome-file-list>

    <!-- Enable the following section when you want basic authentication -->

    <!--

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>H2 Console</web-resource-name>
            <url-pattern>/console/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>H2 Console</realm-name>
    </login-config>

    <security-role>
        <role-name>admin</role-name>
    </security-role>

    -->

</web-app>
