


i(translate='gridShowingRowsComponent.total' translate-values='{count: $ctrl.count}')

i(translate='gridShowingRowsComponent.showing' translate-values='{visible: $ctrl.visible}')

i(translate='gridShowingRowsComponent.selected' translate-values='{selected: $ctrl.selected, count: $ctrl.count}')

a(ng-click='$ctrl.copyToClipBoard()')
    i(translate='gridShowingRowsComponent.copyToClipboardButtonLabel')
