

page-signup {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;

    form footer {
        padding: 15px 0;
        text-align: right;
        display: flex;
        align-items: center;

        .btn-ignite {
            margin-left: auto;
        }
    }

    .page-signup__has-account-message {
        text-align: center;
        margin: 20px 0;
    } 
}
