

.loading.loading-opacity-80(ng-class='[class, "loading-" + position]')
    .loading-wrapper
        .spinner
            .bounce1
            .bounce2
            .bounce3
        .loading-text {{ text }}
