*.log
/out/
/work/
.idea/
*/build/
xcuserdata/
*.iws
.DS_Store
/bamboo/TEST*.xml
/bamboo/junit*.properties
*.suo
*.csproj.user
gridgain*.jar
*.o
*.lo
*.obj
.deps
atlassian-ide-plugin.xml
*.iml
target
target/*
/libs/
