*.log
/out/
/work/
.idea/
*/build/
xcuserdata/
*.iws
.DS_Store
/bamboo/TEST*.xml
/bamboo/junit*.properties
*.o
*.lo
*.obj
.deps
atlassian-ide-plugin.xml
*.iml
target
/libs/
pom-installed.xml
git-patch-prop-local.sh
/slurp.sh
**/cpp/**/vs/x64/
**/cpp/**/vs/Win32/
/modules/platforms/cpp/doc/
.settings
.classpath
.project
/modules/platforms/**/*.VC.db
**/dotnet/libs/