*.log
/out/
/work/
.idea/
*/build/
xcuserdata/
*.iws
.DS_Store
/bamboo/TEST*.xml
/bamboo/junit*.properties
*.suo
*.csproj.user
*.o
*.lo
*.obj
.deps
atlassian-ide-plugin.xml
*.iml
target
/libs/
pom-installed.xml
git-patch-prop-local.sh
/slurp.sh
*.vcxproj.user
*.sdf
*.opensdf
**/cpp/**/vs/x64/
**/cpp/**/vs/Win32/
**/dotnet/**/obj/
/modules/platforms/cpp/doc/
