//-
    GridGain Community Edition Licensing
                      Copyright 2019 GridGain Systems, Inc.

    Licensed under the Apache License, Version 2.0 (the "License") modified with Commons Clause
    Restriction; you may not use this file except in compliance with the License. You may obtain a
    copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software distributed under the
    License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied. See the License for the specific language governing permissions
    and limitations under the License.

    Commons Clause Restriction

    The Software is provided to you by the Licensor under the License, as defined below, subject to
    the following condition.

    Without limiting other conditions in the License, the grant of rights under the License will not
    include, and the License does not grant to you, the right to Sell the Software.
    For purposes of the foregoing, “Sell” means practicing any or all of the rights granted to you
    under the License to provide to third parties, for a fee or other consideration (including without
    limitation fees for hosting or consulting/ support services related to the Software), a product or
    service whose value derives, entirely or substantially, from the functionality of the Software.
    Any license notice or attribution required by the License must also include this Commons Clause
    License Condition notice.

    For purposes of the clause above, the “Licensor” is Copyright 2019 GridGain Systems, Inc.,
    the “License” is the Apache License, Version 2.0, and the Software is the GridGain Community
    Edition software provided with this notice.

include /app/helpers/jade/mixins

ul.tabs.tabs--blue
    li(role='presentation' ng-class='{ active: $ctrl.groupBy === "user" }')
        a(ng-click='$ctrl.groupByUser()')
            span Users
            span.badge.badge--blue(ng-hide='$ctrl.groupBy === "user"')
                | {{ $ctrl.gridOptions.data.length }}
            span.badge.badge--blue(ng-show='$ctrl.groupBy === "user"')
                | {{ $ctrl.filteredRows.length }}
    li(role='presentation' ng-class='{ active: $ctrl.groupBy === "company" }')
        a(ng-click='$ctrl.groupByCompany()')
            span Companies
            span.badge.badge--blue {{ $ctrl.companies.length }}
    li(role='presentation' ng-class='{ active: $ctrl.groupBy === "country" }')
        a(ng-click='$ctrl.groupByCountry()')
            span Countries
            span.badge.badge--blue {{ $ctrl.countries.length }}

.panel--ignite
    header.header-with-selector
        div(ng-if='!$ctrl.selected.length')
            span(ng-if='$ctrl.groupBy === "user"') List of registered users
            span(ng-if='$ctrl.groupBy === "company"') List of registered companies
            span(ng-if='$ctrl.groupBy === "country"') List of registered countries
            grid-column-selector(grid-api='$ctrl.gridApi')

        div(ng-if='$ctrl.selected.length')
            grid-item-selected(grid-api='$ctrl.gridApi')

        div
            .form-field--inline
                +form-field__text({
                    label: 'Exclude:',
                    model: '$ctrl.params.companiesExclude',
                    name: '"exclude"',
                    placeholder: 'Exclude by company name...'
                })

            .form-field--inline
                +form-field__datepicker({
                    label: 'Period: from',
                    model: '$ctrl.params.startDate',
                    name: '"startDate"',
                    maxdate: '$ctrl.params.endDate'
                })
            .form-field--inline
                +form-field__datepicker({
                    label: 'to',
                    model: '$ctrl.params.endDate',
                    name: '"endDate"',
                    mindate: '$ctrl.params.startDate'
                })

            grid-export(file-name='$ctrl.exporterCsvFilename' grid-api='$ctrl.gridApi')

            +ignite-form-field-bsdropdown({
                label: 'Actions',
                model: '$ctrl.action',
                name: 'action',
                options: '$ctrl.actionOptions'
            })

    .ignite-grid-table
        .grid.ui-grid--ignite.ui-grid-disabled-group-selection(ui-grid='$ctrl.gridOptions' ui-grid-resize-columns ui-grid-selection ui-grid-exporter ui-grid-pinning ui-grid-grouping ui-grid-hovering)

    grid-no-data(grid-api='$ctrl.gridApi')
        grid-no-data-filtered
           | Nothing to display. Check your filters.
