/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

pc-form-field-size {
    @import "./../../../../../public/stylesheets/variables.scss";

    .input-tip {
        display: flex;
        flex-direction: row;

        .form-control {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        input {
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
            min-width: 0;
        }

        .btn-ignite {
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
            flex: 0 0 auto;
            width: 60px !important;
            line-height: initial !important;
        }
    }

    &.ng-invalid:not(.ng-pristine),
    &.ng-invalid.ng-touched {
        input, .btn-ignite {
            border-color: $ignite-brand-primary !important;
            box-shadow: inset 0 1px 3px 0 rgba($ignite-brand-primary, .5) !important;
        }
    }
}