//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

include /app/helpers/jade/mixins

-var form = 'attributes'
-var model = '$ctrl.clonedCluster'

panel-collapsible(ng-form=form on-open=`ui.loadPanel('${form}')`)
    panel-title User attributes
    panel-description Configuration for Ignite user attributes.
    panel-content.pca-form-row(ng-if=`ui.isPanelLoaded('${form}')`)
        .pca-form-column-6
            .ignite-form-field
                +form-field__label({ label: 'User attributes:', name: '"userAttributes"'})
                    +form-field__tooltip({ title: `User-defined attributes to add to node` })

                +list-pair-edit({
                    items: `${model}.attributes`,
                    keyLbl: 'Attribute name', 
                    valLbl: 'Attribute value',
                    itemName: 'attribute',
                    itemsName: 'attributes'
                })

        .pca-form-column-6
            +preview-xml-java(model, 'clusterUserAttributes')
