

@import '../../../public/stylesheets/variables';

.theme--ignite {
    p {
        margin: 20px 0;

        color: $text-color;
        font-size: 14px;
        line-height: 17px;
    }

    h4 {
        margin-top: 20px;

        color: $text-color;
        font-size: 16px;
        font-weight: normal;
    }
}
