

form-signup {
    .form-signup__grid {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr;

        .span-1 {
            grid-column: span 1;
        }
        .span-2 {
            grid-column: span 2;
        }
    }
}
