

button.btn-ignite.btn-ignite--link-dashed-secondary(
    ng-click='$event.stopPropagation(); $ctrl.logout()'
    bs-tooltip='::{title: ("connectedClustersDialog.logoutButtonTooltip"|translate)}'
    data-placement='top'
)
    svg(ignite-icon='exit')