//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

.modal.center(tabindex='-1' role='dialog')
    .modal-dialog
        .modal-content
            #errors-container.modal-header.header
                h4.modal-title
                    i.fa.fa-download
                    span(ng-if='!hasAgents') Connection to Ignite Web Agent is not established
                    span(ng-if='hasAgents') Connection to Ignite Node is not established
            .agent-download(ng-if='!hasAgents')
                p Please download and run #[a(href='/api/v1/agent/download/zip' target='_self') ignite-web-agent] in order to {{::agentGoal}}
                p For run:
                ul
                    li Download and unzip #[a(href='/api/v1/agent/download/zip' target='_self') ignite-web-agent] archive
                    li Run shell file #[b ignite-web-agent.{sh|bat}]
                p Refer to #[b README.txt] in agent folder for more information
                .modal-advanced-options
                    i.fa.fa-chevron-circle-down(ng-show='agentLoad.showToken' ng-click='agentLoad.showToken = ! agentLoad.showToken')
                    i.fa.fa-chevron-circle-right(ng-show='!agentLoad.showToken' ng-click='agentLoad.showToken = ! agentLoad.showToken')
                    a(ng-click='agentLoad.showToken = ! agentLoad.showToken') {{agentLoad.showToken ? 'Hide security token...' : 'Show security token...'}}
                .details-row(ng-show='agentLoad.showToken')
                    label.labelField Security token: {{user.becameToken || user.token}}
                    i.tipLabel.fa.fa-clipboard(ignite-copy-to-clipboard='{{user.becameToken || user.token}}' bs-tooltip='' data-title='Copy security token to clipboard')
                    i.tipLabel.icon-help(ng-if=lines bs-tooltip='' data-title='The security token is used for authorization of web agent')
            .agent-download(ng-if='hasAgents')
                p Connection to Ignite Web Agent is established, but agent failed to connect to Ignite Node
                p Please check the following:
                ul
                    li Ignite Grid is up and Ignite REST server started (copy "ignite-rest-http" folder from libs/optional/ to libs/)
                    li In agent settings check URI for connect to Ignite REST server
                    li Check agent logs for errors
                    li Refer to #[b README.txt] in agent folder for more information
            .modal-footer
                button.btn.btn-default(ng-click='back()') {{::backText}}
                a.btn.btn-primary(ng-if='!hasAgents' href='/api/v1/agent/download/zip' target='_self') Download agent
