

page-console-service {
    display: block;
    padding: 30px 20px;
    $max-row-width: 500px;
    $row-height: 28px;    

    .pcb-row-no-margin {
        [class*='grid-col'] {
            margin-top: 0 !important;
        }
    }

    .pcb-inner-padding {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .pcb-section-notification {
        font-size: 14px;
        color: #757575;
        margin-bottom: 1em;
    }

    .pcb-section-header {
        margin-top: 0;
        margin-bottom: 7px;
        font-size: 16px;
        line-height: 19px;
    }

    .pcb-form-main-buttons {
        display: flex;
        flex-direction: row;
        .pcb-form-main-buttons-left {
            margin-right: auto;
        }
        .pcb-form-main-buttons-right {
            margin-left: auto;
        }
    }
    .pc-form-actions-panel {
        margin: 20px -20px -30px;
        box-shadow: 0px -2px 4px -1px rgba(0, 0, 0, 0.2);
    }

    .form-field__checkbox {
        margin-top: auto;
        margin-bottom: 8px;
    }

    .pcb-form-grid-row {
        @media(min-width: 992px) {
            &>.pc-form-grid-col-10 {
                flex: 0 0 calc(100% / 6);
            }

            &>.pc-form-grid-col-20 {
                flex: 0 0 calc(100% / 6);
            }

            &>.pc-form-grid-col-30 {
                flex: 0 0 calc(100% / 4);
            }

            &>.pc-form-grid-col-40 {
                flex: 0 0 calc(100% / 3);
            }

            &>.pc-form-grid-col-60 {
                flex: 0 0 calc(100% / 2);
            }
            &>.pc-form-grid-col-120 {
                flex: 0 0 100%;
            }
            &>.pc-form-grid-col-free {
                flex: 1;
            }
        }
        @media(max-width: 992px) {
            &>.pc-form-grid-col-10 {
                flex: 0 0 calc(100% / 6);
            }

            &>.pc-form-grid-col-20 {
                flex: 0 0 calc(100% / 3);
            }

            &>.pc-form-grid-col-30 {
                flex: 0 0 calc(100% / 2);
            }

            &>.pc-form-grid-col-40 {
                flex: 0 0 calc(100% / 1.5);
            }

            &>.pc-form-grid-col-60,
            &>.pc-form-grid-col-120 {
                flex: 0 0 100%;
            }
            &>.pc-form-grid-col-free {
                flex: 1;
            }
        }
    }
}