

@import "./../../../public/stylesheets/variables.scss";

timed-redirection {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100%;

  .timed-redirection--wrapper {
      text-align: center;
  }

  h1, .sub-header {
    color: $ignite-brand-primary;
  }

  h1 {
    font-size: 64px;
  }

  .sub-header {
    font-size: 30px;
  }

  .redirection-text {
    margin-top: 30px;
    font-size: 16px;
  }
}
