<?xml version="1.0" encoding="UTF-8"?>

<!--
    _________        _____ __________________        _____
    __  ____/___________(_)______  /__  ____/______ ____(_)_______
    _  / __  __  ___/__  / _  __  / _  / __  _  __ `/__  / __  __ \
    / /_/ /  _  /    _  /  / /_/ /  / /_/ /  / /_/ / _  /  _  / / /
    \____/   /_/     /_/   \_,__/   \____/   \__,_/  /_/   /_/ /_/

    @xml.file.header
    Version: @xml.file.version
-->

<!--
    Grid configuration using TCP discovery and Amazon S3 IP finder, metrics store.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">
    <description>Main Spring file for grid configuration.</description>

    <!--
        AWS credentials. Provide your access key ID and secret access key.
    -->
    <bean id="aws.creds" class="com.amazonaws.auth.BasicAWSCredentials">
        <constructor-arg value="YOUR_ACCESS_KEY_ID" />
        <constructor-arg value="YOUR_SECRET_ACCESS_KEY" />
    </bean>

    <!--
        Grid configuration.
    -->
    <bean id="grid.cfg" class="org.gridgain.grid.GridConfiguration" scope="singleton">
        <!--
            Uncomment to specify non-default grid instance name.
            By default, grid name will be null.
        -->
        <!--
        <property name="gridName" value="mygrid"/>
        -->

        <!--
            Uncomment to specify local bind address for all GridGain components.
        -->
        <!--
        <property name="localHost" value="1.2.3.4"/>
        -->

        <!--
            Uncomment to provide custom configuration for TCP communication SPI.
            Note that TCP communication SPI is used by default, so there is no need
            to uncomment this section if you don't plan to change any default
            configuration properties.
        -->
        <!--
        <property name="communicationSpi">
            <bean class="org.gridgain.grid.spi.communication.tcp.GridTcpCommunicationSpi">
                <property name="json"
                    value="{directBuffer: 'false', localAddress='1.2.3.4', localPort: 47100, localPortRange: 100}"/>
            </bean>
        </property>
        -->

        <!--
            Configuration for TCP discovery SPI (Amazon S3 IP finder) without metrics store.
        -->
        <property name="discoverySpi">
            <bean class="org.gridgain.grid.spi.discovery.tcp.GridTcpDiscoverySpi">
                <property name="ipFinder">
                    <bean class="org.gridgain.grid.spi.discovery.tcp.ipfinder.s3.GridTcpDiscoveryS3IpFinder">
                        <property name="awsCredentials" ref="aws.creds"/>
                        <property name="bucketName" value="YOUR_BUCKET_NAME_IP_FINDER"/>
                    </bean>
                </property>
            </bean>
        </property>

        <!--
            Uncomment to provide custom configuration for TCP discovery SPI (Amazon S3 IP finder) with metrics store.
        -->
        <!--
        <property name="discoverySpi">
            <bean class="org.gridgain.grid.spi.discovery.tcp.GridTcpDiscoverySpi">
                <property name="ipFinder">
                    <bean class="org.gridgain.grid.spi.discovery.tcp.ipfinder.s3.GridTcpDiscoveryS3IpFinder">
                        <property name="awsCredentials" ref="aws.creds"/>
                        <property name="bucketName" value="YOUR_BUCKET_NAME_IP_FINDER"/>
                    </bean>
                </property>
                <property name="metricsStore">
                    <bean class="org.gridgain.grid.spi.discovery.tcp.metricsstore.s3.GridTcpDiscoveryS3MetricsStore">
                        <property name="awsCredentials" ref="aws.creds"/>
                        <property name="bucketName" value="YOUR_BUCKET_NAME_METRICS_STORE"/>
                    </bean>
                </property>
            </bean>
        </property>
        -->
    </bean>
</beans>
