

include /app/helpers/jade/mixins
include /app/configuration/mixins

-var form = 'attributes'
-var model = '$ctrl.clonedCluster'

panel-collapsible(ng-form=form on-open=`ui.loadPanel('${form}')`)
    panel-title User attributes
    panel-description Configuration for Ignite user attributes.
    panel-content.pca-form-row(ng-if=`ui.isPanelLoaded('${form}')`)
        .pca-form-column-6
            .ignite-form-field
                +form-field__label({ label: 'User attributes:', name: '"userAttributes"'})
                    +form-field__tooltip({ title: `User-defined attributes to add to node` })

                +list-pair-edit({
                    items: `${model}.attributes`,
                    keyLbl: 'Attribute name', 
                    valLbl: 'Attribute value',
                    itemName: 'attribute',
                    itemsName: 'attributes'
                })

        .pca-form-column-6
            +preview-xml-java(model, 'clusterUserAttributes')
