
<panel-collapsible ng-form="clientNearCache" on-open="ui.loadPanel('clientNearCache')" ng-show="$ctrl.clonedCache.cacheMode === 'PARTITIONED'">
  <panel-title>Near cache on client node</panel-title>
  <panel-description>
    Near cache settings for client nodes.
    Near cache is a small local cache that stores most recently or most frequently accessed data.
    Should be used in case when it is impossible to send computations to remote nodes.
  </panel-description>
  <panel-content class="pca-form-row" ng-if="ui.isPanelLoaded('clientNearCache')">
    <div class="pca-form-column-6 pc-form-grid-row">
      <div class="pc-form-grid-col-60">
        <div class="form-field ignite-form-field form-field__checkbox" id="{{ &quot;clientNearEnabled&quot; }}Field">
          <label class="form-field__label {{ undefined ? 'required' : '' }}" id="{{ &quot;clientNearEnabled&quot; }}Label" for="{{ &quot;clientNearEnabled&quot; }}Input"><span>Enabled</span>
            <svg ignite-icon="info" bs-tooltip="" data-title="Flag indicating whether to configure near cache" data-placement="auto"></svg>
          </label>
          <div class="form-field__control">
            <input id="{{ &quot;clientNearEnabled&quot; }}Input" name="{{ &quot;clientNearEnabled&quot; }}" translate-attr="{placeholder: &quot;undefined&quot;}" ng-model="$ctrl.clonedCache.clientNearConfiguration.enabled" ng-ref="$input" ng-ref-read="ngModel" type="checkbox"/>
          </div>
          <div class="form-field__errors" ng-messages="$input.$error" ng-show="($input.$dirty || $input.$touched || $input.$submitted) &amp;&amp; $input.$invalid">
          </div>
        </div>
      </div>
      <div class="pc-form-grid-col-60">
        <div class="form-field ignite-form-field">
          <label class="form-field__label {{ undefined ? 'required' : '' }}" id="{{ &quot;clientNearStartSize&quot; }}Label" for="{{ &quot;clientNearStartSize&quot; }}Input" ng-disabled="!($ctrl.clonedCache.clientNearConfiguration.enabled)"><span>Start size:</span>
            <svg ignite-icon="info" bs-tooltip="" data-title="Initial cache size for near cache which will be used to pre-create internal hash table after start" data-placement="auto"></svg>
          </label>
          <div class="form-field__control">
            <input id="{{ &quot;clientNearStartSize&quot; }}Input" name="{{ &quot;clientNearStartSize&quot; }}" translate-attr="{placeholder: &quot;375000&quot;}" ng-model="$ctrl.clonedCache.clientNearConfiguration.nearStartSize" ng-disabled="!($ctrl.clonedCache.clientNearConfiguration.enabled)" ng-ref="$input" ng-ref-read="ngModel" type="number" min="0" max="{{ Number.MAX_VALUE }}" step="1"/>
          </div>
          <div class="form-field__errors" ng-messages="$input.$error" ng-show="($input.$dirty || $input.$touched || $input.$submitted) &amp;&amp; $input.$invalid">
            <div class="form-field__error" ng-message="min">
              <div>Start size is less than allowable minimum: 0</div>
              <div bs-tooltip="" data-title="Start size is less than allowable minimum: 0" data-placement="top" data-template="
                &lt;div class=&quot;tooltip tooltip--error in&quot; ng-show=&quot;title&quot;&gt;
                    &lt;div class=&quot;tooltip-arrow&quot;&gt;&lt;/div&gt;
                    &lt;div class=&quot;tooltip-inner&quot; ng-bind-html=&quot;title&quot;&gt;&lt;/div&gt;
                &lt;/div&gt;"></div>
              <svg ignite-icon="exclamation"></svg>
            </div>
            <div class="form-field__error" ng-message="max">
              <div>Start size is more than allowable maximum: undefined</div>
              <div bs-tooltip="" data-title="Start size is more than allowable maximum: undefined" data-placement="top" data-template="
                &lt;div class=&quot;tooltip tooltip--error in&quot; ng-show=&quot;title&quot;&gt;
                    &lt;div class=&quot;tooltip-arrow&quot;&gt;&lt;/div&gt;
                    &lt;div class=&quot;tooltip-inner&quot; ng-bind-html=&quot;title&quot;&gt;&lt;/div&gt;
                &lt;/div&gt;"></div>
              <svg ignite-icon="exclamation"></svg>
            </div>
            <div class="form-field__error" ng-message="step">
              <div>Start size step should be 1</div>
              <div bs-tooltip="" data-title="Start size step should be 1" data-placement="top" data-template="
                &lt;div class=&quot;tooltip tooltip--error in&quot; ng-show=&quot;title&quot;&gt;
                    &lt;div class=&quot;tooltip-arrow&quot;&gt;&lt;/div&gt;
                    &lt;div class=&quot;tooltip-inner&quot; ng-bind-html=&quot;title&quot;&gt;&lt;/div&gt;
                &lt;/div&gt;"></div>
              <svg ignite-icon="exclamation"></svg>
            </div>
            <div class="form-field__error" ng-message="number">
              <div>Only numbers allowed</div>
              <div bs-tooltip="" data-title="Only numbers allowed" data-placement="top" data-template="
                &lt;div class=&quot;tooltip tooltip--error in&quot; ng-show=&quot;title&quot;&gt;
                    &lt;div class=&quot;tooltip-arrow&quot;&gt;&lt;/div&gt;
                    &lt;div class=&quot;tooltip-inner&quot; ng-bind-html=&quot;title&quot;&gt;&lt;/div&gt;
                &lt;/div&gt;"></div>
              <svg ignite-icon="exclamation"></svg>
            </div>
          </div>
        </div>
      </div>
      <div class="pc-form-grid-col-60">
        <div class="form-field form-field__dropdown ignite-form-field" id="{{ &quot;clientNearCacheEvictionPolicy&quot;+&quot;Kind&quot; }}Field">
          <label class="form-field__label {{ undefined ? 'required' : '' }}" id="{{ &quot;clientNearCacheEvictionPolicy&quot;+&quot;Kind&quot; }}Label" for="{{ &quot;clientNearCacheEvictionPolicy&quot;+&quot;Kind&quot; }}Input" ng-disabled="!($ctrl.clonedCache.clientNearConfiguration.enabled)"><span>Eviction policy:</span>
            <svg ignite-icon="info" bs-tooltip="" data-title="Near cache eviction policy                     &lt;ul&gt;                         &lt;li&gt;Least Recently Used (LRU) - Eviction policy based on LRU algorithm and supports batch eviction&lt;/li&gt;                         &lt;li&gt;First In First Out (FIFO) - Eviction policy based on FIFO algorithm and supports batch eviction&lt;/li&gt;                         &lt;li&gt;SORTED - Eviction policy which will select the minimum cache entry for eviction&lt;/li&gt;                     &lt;/ul&gt;" data-placement="auto"></svg>
          </label>
          <div class="form-field__control">
            <select id="{{ &quot;clientNearCacheEvictionPolicy&quot;+&quot;Kind&quot; }}Input" name="{{ &quot;clientNearCacheEvictionPolicy&quot;+&quot;Kind&quot; }}" ng-model="$ctrl.clonedCache.clientNearConfiguration.nearEvictionPolicy.kind" ng-disabled="!($ctrl.clonedCache.clientNearConfiguration.enabled)" ng-ref="$input" ng-ref-read="ngModel">
              <option value="" hidden="hidden" translate="{{ ::$ctrl.Caches.evictionPolicy.kind.default }}"></option>
              <option ng-repeat="item in ::$ctrl.Caches.evictionPolicy.values track by item.value" ng-value="item.value" ng-bind="item.label"></option>
            </select>
          </div>
          <div class="form-field__errors" ng-messages="$input.$error" ng-show="($input.$dirty || $input.$touched || $input.$submitted) &amp;&amp; $input.$invalid">
          </div>
        </div>
      </div>
      <div class="pc-form-group pc-form-grid-row" ng-if="$ctrl.clonedCache.clientNearConfiguration.nearEvictionPolicy.kind">
        <div class="pc-form-grid-col-30">
          <div class="form-field ignite-form-field">
            <label class="form-field__label {{ undefined ? 'required' : '' }}" id="{{ &quot;clientNearCacheEvictionPolicy&quot;+ &quot;batchSize&quot; }}Label" for="{{ &quot;clientNearCacheEvictionPolicy&quot;+ &quot;batchSize&quot; }}Input" ng-disabled="!($ctrl.clonedCache.clientNearConfiguration.enabled)"><span>Batch size</span>
              <svg ignite-icon="info" bs-tooltip="" data-title="Number of entries to remove on shrink" data-placement="auto"></svg>
            </label>
            <div class="form-field__control">
              <input id="{{ &quot;clientNearCacheEvictionPolicy&quot;+ &quot;batchSize&quot; }}Input" name="{{ &quot;clientNearCacheEvictionPolicy&quot;+ &quot;batchSize&quot; }}" translate-attr="{placeholder: &quot;1&quot;}" ng-model="$ctrl.clonedCache.clientNearConfiguration.nearEvictionPolicy[$ctrl.clonedCache.clientNearConfiguration.nearEvictionPolicy.kind].batchSize" ng-disabled="!($ctrl.clonedCache.clientNearConfiguration.enabled)" ng-ref="$input" ng-ref-read="ngModel" type="number" min="1" max="{{ Number.MAX_VALUE }}" step="1"/>
            </div>
            <div class="form-field__errors" ng-messages="$input.$error" ng-show="($input.$dirty || $input.$touched || $input.$submitted) &amp;&amp; $input.$invalid">
              <div class="form-field__error" ng-message="min">
                <div>Batch size is less than allowable minimum: 1</div>
                <div bs-tooltip="" data-title="Batch size is less than allowable minimum: 1" data-placement="top" data-template="
                &lt;div class=&quot;tooltip tooltip--error in&quot; ng-show=&quot;title&quot;&gt;
                    &lt;div class=&quot;tooltip-arrow&quot;&gt;&lt;/div&gt;
                    &lt;div class=&quot;tooltip-inner&quot; ng-bind-html=&quot;title&quot;&gt;&lt;/div&gt;
                &lt;/div&gt;"></div>
                <svg ignite-icon="exclamation"></svg>
              </div>
              <div class="form-field__error" ng-message="max">
                <div>Batch size is more than allowable maximum: undefined</div>
                <div bs-tooltip="" data-title="Batch size is more than allowable maximum: undefined" data-placement="top" data-template="
                &lt;div class=&quot;tooltip tooltip--error in&quot; ng-show=&quot;title&quot;&gt;
                    &lt;div class=&quot;tooltip-arrow&quot;&gt;&lt;/div&gt;
                    &lt;div class=&quot;tooltip-inner&quot; ng-bind-html=&quot;title&quot;&gt;&lt;/div&gt;
                &lt;/div&gt;"></div>
                <svg ignite-icon="exclamation"></svg>
              </div>
              <div class="form-field__error" ng-message="step">
                <div>Batch size step should be 1</div>
                <div bs-tooltip="" data-title="Batch size step should be 1" data-placement="top" data-template="
                &lt;div class=&quot;tooltip tooltip--error in&quot; ng-show=&quot;title&quot;&gt;
                    &lt;div class=&quot;tooltip-arrow&quot;&gt;&lt;/div&gt;
                    &lt;div class=&quot;tooltip-inner&quot; ng-bind-html=&quot;title&quot;&gt;&lt;/div&gt;
                &lt;/div&gt;"></div>
                <svg ignite-icon="exclamation"></svg>
              </div>
              <div class="form-field__error" ng-message="number">
                <div>Only numbers allowed</div>
                <div bs-tooltip="" data-title="Only numbers allowed" data-placement="top" data-template="
                &lt;div class=&quot;tooltip tooltip--error in&quot; ng-show=&quot;title&quot;&gt;
                    &lt;div class=&quot;tooltip-arrow&quot;&gt;&lt;/div&gt;
                    &lt;div class=&quot;tooltip-inner&quot; ng-bind-html=&quot;title&quot;&gt;&lt;/div&gt;
                &lt;/div&gt;"></div>
                <svg ignite-icon="exclamation"></svg>
              </div>
            </div>
          </div>
        </div>
        <div class="pc-form-grid-col-30">
          <form-field-size label="Max memory size:" ng-model="$ctrl.clonedCache.clientNearConfiguration.nearEvictionPolicy[$ctrl.clonedCache.clientNearConfiguration.nearEvictionPolicy.kind].maxMemorySize" ng-model-options="{allowInvalid: true}" name="&quot;clientNearCacheEvictionPolicy&quot;.maxMemorySize" ng-disabled="!($ctrl.clonedCache.clientNearConfiguration.enabled)" tip="Maximum allowed cache size" placeholder="{{ ::$ctrl.Caches.evictionPolicy.maxMemorySize.default }}" min="{{ $ctrl.Caches.evictionPolicy.maxMemorySize.min($ctrl.clonedCache.clientNearConfiguration.nearEvictionPolicy) }}" size-scale-label="mb" size-type="bytes">
            <div class="form-field__error" ng-message="min">
              <div>Either maximum memory size or maximum size should be greater than 0</div>
              <div bs-tooltip="" data-title="Either maximum memory size or maximum size should be greater than 0" data-placement="top" data-template="
                &lt;div class=&quot;tooltip tooltip--error in&quot; ng-show=&quot;title&quot;&gt;
                    &lt;div class=&quot;tooltip-arrow&quot;&gt;&lt;/div&gt;
                    &lt;div class=&quot;tooltip-inner&quot; ng-bind-html=&quot;title&quot;&gt;&lt;/div&gt;
                &lt;/div&gt;"></div>
              <svg ignite-icon="exclamation"></svg>
            </div>
          </form-field-size>
        </div>
        <div class="pc-form-grid-col-60">
          <div class="form-field ignite-form-field">
            <label class="form-field__label {{ undefined ? 'required' : '' }}" id="{{ &quot;clientNearCacheEvictionPolicy&quot;+ &quot;maxSize&quot; }}Label" for="{{ &quot;clientNearCacheEvictionPolicy&quot;+ &quot;maxSize&quot; }}Input" ng-disabled="!($ctrl.clonedCache.clientNearConfiguration.enabled)"><span>Max size:</span>
              <svg ignite-icon="info" bs-tooltip="" data-title="Maximum allowed size of cache before entry will start getting evicted" data-placement="auto"></svg>
            </label>
            <div class="form-field__control">
              <input id="{{ &quot;clientNearCacheEvictionPolicy&quot;+ &quot;maxSize&quot; }}Input" name="{{ &quot;clientNearCacheEvictionPolicy&quot;+ &quot;maxSize&quot; }}" translate-attr="{placeholder: &quot;{{ ::$ctrl.Caches.evictionPolicy.maxSize.default }}&quot;}" ng-model="$ctrl.clonedCache.clientNearConfiguration.nearEvictionPolicy[$ctrl.clonedCache.clientNearConfiguration.nearEvictionPolicy.kind].maxSize" ng-disabled="!($ctrl.clonedCache.clientNearConfiguration.enabled)" ng-ref="$input" ng-ref-read="ngModel" ng-model-options="{allowInvalid: true}" type="number" min="{{ $ctrl.Caches.evictionPolicy.maxSize.min($ctrl.clonedCache.clientNearConfiguration.nearEvictionPolicy) }}" max="{{ Number.MAX_VALUE }}" step="1"/>
            </div>
            <div class="form-field__errors" ng-messages="$input.$error" ng-show="($input.$dirty || $input.$touched || $input.$submitted) &amp;&amp; $input.$invalid">
              <div class="form-field__error" ng-message="min">
                <div>Max size is less than allowable minimum: {{ $ctrl.Caches.evictionPolicy.maxSize.min($ctrl.clonedCache.clientNearConfiguration.nearEvictionPolicy) }}</div>
                <div bs-tooltip="" data-title="Max size is less than allowable minimum: {{ $ctrl.Caches.evictionPolicy.maxSize.min($ctrl.clonedCache.clientNearConfiguration.nearEvictionPolicy) }}" data-placement="top" data-template="
                &lt;div class=&quot;tooltip tooltip--error in&quot; ng-show=&quot;title&quot;&gt;
                    &lt;div class=&quot;tooltip-arrow&quot;&gt;&lt;/div&gt;
                    &lt;div class=&quot;tooltip-inner&quot; ng-bind-html=&quot;title&quot;&gt;&lt;/div&gt;
                &lt;/div&gt;"></div>
                <svg ignite-icon="exclamation"></svg>
              </div>
              <div class="form-field__error" ng-message="max">
                <div>Max size is more than allowable maximum: undefined</div>
                <div bs-tooltip="" data-title="Max size is more than allowable maximum: undefined" data-placement="top" data-template="
                &lt;div class=&quot;tooltip tooltip--error in&quot; ng-show=&quot;title&quot;&gt;
                    &lt;div class=&quot;tooltip-arrow&quot;&gt;&lt;/div&gt;
                    &lt;div class=&quot;tooltip-inner&quot; ng-bind-html=&quot;title&quot;&gt;&lt;/div&gt;
                &lt;/div&gt;"></div>
                <svg ignite-icon="exclamation"></svg>
              </div>
              <div class="form-field__error" ng-message="step">
                <div>Max size step should be 1</div>
                <div bs-tooltip="" data-title="Max size step should be 1" data-placement="top" data-template="
                &lt;div class=&quot;tooltip tooltip--error in&quot; ng-show=&quot;title&quot;&gt;
                    &lt;div class=&quot;tooltip-arrow&quot;&gt;&lt;/div&gt;
                    &lt;div class=&quot;tooltip-inner&quot; ng-bind-html=&quot;title&quot;&gt;&lt;/div&gt;
                &lt;/div&gt;"></div>
                <svg ignite-icon="exclamation"></svg>
              </div>
              <div class="form-field__error" ng-message="number">
                <div>Only numbers allowed</div>
                <div bs-tooltip="" data-title="Only numbers allowed" data-placement="top" data-template="
                &lt;div class=&quot;tooltip tooltip--error in&quot; ng-show=&quot;title&quot;&gt;
                    &lt;div class=&quot;tooltip-arrow&quot;&gt;&lt;/div&gt;
                    &lt;div class=&quot;tooltip-inner&quot; ng-bind-html=&quot;title&quot;&gt;&lt;/div&gt;
                &lt;/div&gt;"></div>
                <svg ignite-icon="exclamation"></svg>
              </div>
              <div class="form-field__error" ng-message="min">
                <div>Either maximum memory size or maximum size should be greater than 0</div>
                <div bs-tooltip="" data-title="Either maximum memory size or maximum size should be greater than 0" data-placement="top" data-template="
                &lt;div class=&quot;tooltip tooltip--error in&quot; ng-show=&quot;title&quot;&gt;
                    &lt;div class=&quot;tooltip-arrow&quot;&gt;&lt;/div&gt;
                    &lt;div class=&quot;tooltip-inner&quot; ng-bind-html=&quot;title&quot;&gt;&lt;/div&gt;
                &lt;/div&gt;"></div>
                <svg ignite-icon="exclamation"></svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pca-form-column-6">
      <ignite-ui-ace-tabs>
        <div class="preview-panel" ng-init="mode = &quot;spring&quot;">
          <div class="preview-legend"><a ng-class="{active: mode === &quot;spring&quot;}" ng-click="mode = &quot;spring&quot;">Spring</a><a ng-class="{active: mode === &quot;java&quot;}" ng-click="mode = &quot;java&quot;">Java</a>
            <!--a(ng-class='{active: mode === "app.config"}' ng-click='mode = "app.config"') app.config-->
          </div>
          <div class="preview-content" ng-switch="mode">
            <ignite-ui-ace-spring ng-switch-when="spring" data-master="$ctrl.clonedCache" data-generator="cacheNearClient" ng-model="$parent.data"></ignite-ui-ace-spring>
            <ignite-ui-ace-java ng-switch-when="java" data-master="$ctrl.clonedCache" data-generator="cacheNearClient" ng-model="$parent.data"></ignite-ui-ace-java>
          </div>
          <div class="preview-content-empty" ng-if="!data">
            <label>All Defaults</label>
          </div>
        </div>
      </ignite-ui-ace-tabs>
    </div>
  </panel-content>
</panel-collapsible>