
<panel-collapsible ng-form="statistics" on-open="ui.loadPanel('statistics')">
  <panel-title>Statistics</panel-title>
  <panel-description>Cache statistics and management settings.</panel-description>
  <panel-content class="pca-form-row" ng-if="ui.isPanelLoaded('statistics')">
    <div class="pca-form-column-6 pc-form-grid-row">
      <div class="pc-form-grid-col-60">
        <div class="form-field ignite-form-field form-field__checkbox" id="{{ &quot;statisticsEnabled&quot; }}Field">
          <label class="form-field__label {{ undefined ? 'required' : '' }}" id="{{ &quot;statisticsEnabled&quot; }}Label" for="{{ &quot;statisticsEnabled&quot; }}Input"><span>Statistics enabled</span>
            <svg ignite-icon="info" bs-tooltip="" data-title="Flag indicating whether statistics gathering is enabled on this cache" data-placement="auto"></svg>
          </label>
          <div class="form-field__control">
            <input id="{{ &quot;statisticsEnabled&quot; }}Input" name="{{ &quot;statisticsEnabled&quot; }}" translate-attr="{placeholder: &quot;undefined&quot;}" ng-model="$ctrl.clonedCache.statisticsEnabled" ng-ref="$input" ng-ref-read="ngModel" type="checkbox"/>
          </div>
          <div class="form-field__errors" ng-messages="$input.$error" ng-show="($input.$dirty || $input.$touched || $input.$submitted) &amp;&amp; $input.$invalid">
          </div>
        </div>
      </div>
      <div class="pc-form-grid-col-60">
        <div class="form-field ignite-form-field form-field__checkbox" id="{{ &quot;managementEnabled&quot; }}Field">
          <label class="form-field__label {{ undefined ? 'required' : '' }}" id="{{ &quot;managementEnabled&quot; }}Label" for="{{ &quot;managementEnabled&quot; }}Input"><span>Management enabled</span>
            <svg ignite-icon="info" bs-tooltip="" data-title="Flag indicating whether management is enabled on this cache&lt;br/&gt;                         If enabled the CacheMXBean for each cache is registered in the platform MBean server" data-placement="auto"></svg>
          </label>
          <div class="form-field__control">
            <input id="{{ &quot;managementEnabled&quot; }}Input" name="{{ &quot;managementEnabled&quot; }}" translate-attr="{placeholder: &quot;undefined&quot;}" ng-model="$ctrl.clonedCache.managementEnabled" ng-ref="$input" ng-ref-read="ngModel" type="checkbox"/>
          </div>
          <div class="form-field__errors" ng-messages="$input.$error" ng-show="($input.$dirty || $input.$touched || $input.$submitted) &amp;&amp; $input.$invalid">
          </div>
        </div>
      </div>
    </div>
    <div class="pca-form-column-6">
      <ignite-ui-ace-tabs>
        <div class="preview-panel" ng-init="mode = &quot;spring&quot;">
          <div class="preview-legend"><a ng-class="{active: mode === &quot;spring&quot;}" ng-click="mode = &quot;spring&quot;">Spring</a><a ng-class="{active: mode === &quot;java&quot;}" ng-click="mode = &quot;java&quot;">Java</a>
            <!--a(ng-class='{active: mode === "app.config"}' ng-click='mode = "app.config"') app.config-->
          </div>
          <div class="preview-content" ng-switch="mode">
            <ignite-ui-ace-spring ng-switch-when="spring" data-master="$ctrl.clonedCache" data-generator="cacheStatistics" ng-model="$parent.data"></ignite-ui-ace-spring>
            <ignite-ui-ace-java ng-switch-when="java" data-master="$ctrl.clonedCache" data-generator="cacheStatistics" ng-model="$parent.data"></ignite-ui-ace-java>
          </div>
          <div class="preview-content-empty" ng-if="!data">
            <label>All Defaults</label>
          </div>
        </div>
      </ignite-ui-ace-tabs>
    </div>
  </panel-content>
</panel-collapsible>