<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<features xmlns="http://karaf.apache.org/xmlns/features/v1.3.0" name="spring-4.0.2">
    <repository>mvn:org.ops4j.pax.web/pax-web-features/4.2.2/xml/features</repository>
    <repository>mvn:org.apache.karaf.features/standard/4.0.2/xml/features</repository>
    <feature name="spring-dm" description="Spring DM support" version="1.2.1">
        <feature version="[2.5.6,4)" prerequisite="false" dependency="false">spring</feature>
        <bundle start-level="30" dependency="true">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.cglib/3.0_1</bundle>
        <bundle start-level="30">mvn:org.springframework.osgi/spring-osgi-io/1.2.1</bundle>
        <bundle start-level="30">mvn:org.springframework.osgi/spring-osgi-core/1.2.1</bundle>
        <bundle start-level="30">mvn:org.springframework.osgi/spring-osgi-extender/1.2.1</bundle>
        <bundle start-level="30">mvn:org.springframework.osgi/spring-osgi-annotation/1.2.1</bundle>
        <conditional>
            <condition>deployer</condition>
            <bundle start-level="30">mvn:org.apache.karaf.deployer/org.apache.karaf.deployer.spring/4.0.2</bundle>
        </conditional>
        <conditional>
            <condition>bundle</condition>
            <bundle start-level="30">mvn:org.apache.karaf.bundle/org.apache.karaf.bundle.springstate/4.0.2</bundle>
        </conditional>
    </feature>
    <feature name="spring-dm-web" description="Spring DM Web support" version="1.2.1">
        <feature prerequisite="false" dependency="false">spring-dm</feature>
        <feature version="[2.5.6,4)" prerequisite="false" dependency="false">spring-web</feature>
        <feature prerequisite="false" dependency="false">http</feature>
        <bundle start-level="30">mvn:org.springframework.osgi/spring-osgi-web/1.2.1</bundle>
    </feature>
    <feature name="spring" description="Spring 3.1.x support" version="3.1.4.RELEASE">
        <bundle start-level="30" dependency="true">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.aopalliance/1.0_6</bundle>
        <bundle start-level="30">mvn:org.springframework/spring-core/3.1.4.RELEASE</bundle>
        <bundle start-level="30">mvn:org.springframework/spring-asm/3.1.4.RELEASE</bundle>
        <bundle start-level="30">mvn:org.springframework/spring-expression/3.1.4.RELEASE</bundle>
        <bundle start-level="30">mvn:org.springframework/spring-beans/3.1.4.RELEASE</bundle>
        <bundle start-level="30">mvn:org.springframework/spring-aop/3.1.4.RELEASE</bundle>
        <bundle start-level="30">mvn:org.springframework/spring-context/3.1.4.RELEASE</bundle>
        <bundle start-level="30">mvn:org.springframework/spring-context-support/3.1.4.RELEASE</bundle>
        <conditional>
            <condition>deployer</condition>
            <bundle start-level="30">mvn:org.apache.karaf.deployer/org.apache.karaf.deployer.spring/4.0.2</bundle>
        </conditional>
    </feature>
    <feature name="spring-aspects" description="Spring 3.1.x AOP support" version="3.1.4.RELEASE">
        <feature version="[3.1.4.RELEASE,3.2)" prerequisite="false" dependency="false">spring</feature>
        <bundle start-level="30">mvn:org.springframework/spring-aspects/3.1.4.RELEASE</bundle>
    </feature>
    <feature name="spring-instrument" description="Spring 3.1.x Instrument support" version="3.1.4.RELEASE">
        <feature version="[3.1.4.RELEASE,3.2)" prerequisite="false" dependency="false">spring</feature>
        <bundle start-level="30">mvn:org.springframework/spring-instrument/3.1.4.RELEASE</bundle>
    </feature>
    <feature name="spring-jdbc" description="Spring 3.1.x JDBC support" version="3.1.4.RELEASE">
        <feature version="[3.1.4.RELEASE,3.2)" prerequisite="false" dependency="false">spring-tx</feature>
        <bundle start-level="30">mvn:org.springframework/spring-jdbc/3.1.4.RELEASE</bundle>
    </feature>
    <feature name="spring-jms" description="Spring 3.1.x JMS support" version="3.1.4.RELEASE">
        <feature version="[3.1.4.RELEASE,3.2)" prerequisite="false" dependency="false">spring-tx</feature>
        <bundle start-level="10">mvn:org.apache.geronimo.specs/geronimo-jta_1.1_spec/1.1.1</bundle>
        <bundle start-level="10">mvn:org.apache.geronimo.specs/geronimo-jms_1.1_spec/1.1.1</bundle>
        <bundle start-level="30">mvn:org.springframework/spring-jms/3.1.4.RELEASE</bundle>
    </feature>
    <feature name="spring-struts" description="Spring 3.1.x Struts support" version="3.1.4.RELEASE">
        <feature version="[3.1.4.RELEASE,3.2)" prerequisite="false" dependency="false">spring-web</feature>
        <feature prerequisite="false" dependency="false">war</feature>
        <bundle start-level="30" dependency="true">mvn:commons-collections/commons-collections/3.2.1</bundle>
        <bundle start-level="30" dependency="true">mvn:commons-beanutils/commons-beanutils/1.9.2</bundle>
        <bundle start-level="30" dependency="true">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.struts/1.3.10_1</bundle>
        <bundle start-level="30">mvn:org.springframework/spring-struts/3.1.4.RELEASE</bundle>
    </feature>
    <feature name="spring-test" description="Spring 3.1.x Test support" version="3.1.4.RELEASE">
        <feature version="[3.1.4.RELEASE,3.2)" prerequisite="false" dependency="false">spring</feature>
        <bundle start-level="30">mvn:org.springframework/spring-test/3.1.4.RELEASE</bundle>
    </feature>
    <feature name="spring-orm" description="Spring 3.1.x ORM support" version="3.1.4.RELEASE">
        <feature version="[3.1.4.RELEASE,3.2)" prerequisite="false" dependency="false">spring-jdbc</feature>
        <bundle start-level="30">mvn:org.springframework/spring-orm/3.1.4.RELEASE</bundle>
    </feature>
    <feature name="spring-oxm" description="Spring 3.1.x OXM support" version="3.1.4.RELEASE">
        <feature version="[3.1.4.RELEASE,3.2)" prerequisite="false" dependency="false">spring</feature>
        <bundle start-level="30">mvn:org.springframework/spring-oxm/3.1.4.RELEASE</bundle>
    </feature>
    <feature name="spring-tx" description="Spring 3.1.x Transaction (TX) support" version="3.1.4.RELEASE">
        <feature version="[3.1.4.RELEASE,3.2)" prerequisite="false" dependency="false">spring</feature>
        <bundle start-level="30">mvn:org.springframework/spring-tx/3.1.4.RELEASE</bundle>
    </feature>
    <feature name="spring-web" description="Spring 3.1.x Web support" version="3.1.4.RELEASE">
        <feature version="[3.1.4.RELEASE,3.2)" prerequisite="false" dependency="false">spring</feature>
        <feature prerequisite="false" dependency="false">http</feature>
        <bundle start-level="30">mvn:org.springframework/spring-web/3.1.4.RELEASE</bundle>
        <bundle start-level="30">mvn:org.springframework/spring-webmvc/3.1.4.RELEASE</bundle>
    </feature>
    <feature name="spring-web-portlet" description="Spring 3.1.x Web Portlet support" version="3.1.4.RELEASE">
        <feature prerequisite="true" dependency="false">wrap</feature>
        <feature version="[3.1.4.RELEASE,3.2)" prerequisite="false" dependency="false">spring-web</feature>
        <bundle start-level="30" dependency="true">wrap:mvn:javax.portlet/portlet-api/2.0$Export-Package=javax.portlet.*;version=2.0</bundle>
        <bundle start-level="30">mvn:org.springframework/spring-webmvc-portlet/3.1.4.RELEASE</bundle>
    </feature>
    <feature name="spring" description="Spring 3.2.x support" version="3.2.14.RELEASE_1">
        <bundle start-level="30" dependency="true">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.aopalliance/1.0_6</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-core/3.2.14.RELEASE_1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-expression/3.2.14.RELEASE_1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-beans/3.2.14.RELEASE_1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-aop/3.2.14.RELEASE_1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-context/3.2.14.RELEASE_1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-context-support/3.2.14.RELEASE_1</bundle>
        <conditional>
            <condition>deployer</condition>
            <bundle start-level="30">mvn:org.apache.karaf.deployer/org.apache.karaf.deployer.spring/4.0.2</bundle>
        </conditional>
    </feature>
    <feature name="spring-aspects" description="Spring 3.2.x AOP support" version="3.2.14.RELEASE_1">
        <feature version="[3.2.14.RELEASE_1,3.3)" prerequisite="false" dependency="false">spring</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-aspects/3.2.14.RELEASE_1</bundle>
    </feature>
    <feature name="spring-instrument" description="Spring 3.2.x Instrument support" version="3.2.14.RELEASE_1">
        <feature version="[3.2.14.RELEASE_1,3.3)" prerequisite="false" dependency="false">spring</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-instrument/3.2.14.RELEASE_1</bundle>
    </feature>
    <feature name="spring-jdbc" description="Spring 3.2.x JDBC support" version="3.2.14.RELEASE_1">
        <feature version="[3.2.14.RELEASE_1,3.3)" prerequisite="false" dependency="false">spring-tx</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-jdbc/3.2.14.RELEASE_1</bundle>
    </feature>
    <feature name="spring-jms" description="Spring 3.2.x JMS support" version="3.2.14.RELEASE_1">
        <feature version="[3.2.14.RELEASE_1,3.3)" prerequisite="false" dependency="false">spring-tx</feature>
        <bundle start-level="10">mvn:org.apache.geronimo.specs/geronimo-jta_1.1_spec/1.1.1</bundle>
        <bundle start-level="10">mvn:org.apache.geronimo.specs/geronimo-jms_1.1_spec/1.1.1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-jms/3.2.14.RELEASE_1</bundle>
    </feature>
    <feature name="spring-struts" description="Spring 3.2.x Struts support" version="3.2.14.RELEASE_1">
        <feature version="[3.2.14.RELEASE_1,3.3)" prerequisite="false" dependency="false">spring-web</feature>
        <feature prerequisite="false" dependency="false">war</feature>
        <bundle start-level="30" dependency="true">mvn:commons-collections/commons-collections/3.2.1</bundle>
        <bundle start-level="30" dependency="true">mvn:commons-beanutils/commons-beanutils/1.9.2</bundle>
        <bundle start-level="30" dependency="true">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.struts/1.3.10_1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-struts/3.2.14.RELEASE_1</bundle>
    </feature>
    <feature name="spring-test" description="Spring 3.2.x Test support" version="3.2.14.RELEASE_1">
        <feature version="[3.2.14.RELEASE_1,3.3)" prerequisite="false" dependency="false">spring</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-test/3.2.14.RELEASE_1</bundle>
    </feature>
    <feature name="spring-orm" description="Spring 3.2.x ORM support" version="3.2.14.RELEASE_1">
        <feature version="[3.2.14.RELEASE_1,3.3)" prerequisite="false" dependency="false">spring-jdbc</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-orm/3.2.14.RELEASE_1</bundle>
    </feature>
    <feature name="spring-oxm" description="Spring 3.2.x OXM support" version="3.2.14.RELEASE_1">
        <feature version="[3.2.14.RELEASE_1,3.3)" prerequisite="false" dependency="false">spring</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-oxm/3.2.14.RELEASE_1</bundle>
    </feature>
    <feature name="spring-tx" description="Spring 3.2.x Transaction (TX) support" version="3.2.14.RELEASE_1">
        <feature version="[3.2.14.RELEASE_1,3.3)" prerequisite="false" dependency="false">spring</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-tx/3.2.14.RELEASE_1</bundle>
    </feature>
    <feature name="spring-web" description="Spring 3.2.x Web support" version="3.2.14.RELEASE_1">
        <feature version="[3.2.14.RELEASE_1,3.3)" prerequisite="false" dependency="false">spring</feature>
        <feature prerequisite="false" dependency="false">http</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-web/3.2.14.RELEASE_1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-webmvc/3.2.14.RELEASE_1</bundle>
    </feature>
    <feature name="spring-web-portlet" description="Spring 3.2.x Web Portlet support" version="3.2.14.RELEASE_1">
        <feature prerequisite="true" dependency="false">wrap</feature>
        <feature version="[3.2.14.RELEASE_1,3.3)" prerequisite="false" dependency="false">spring-web</feature>
        <bundle start-level="30" dependency="true">wrap:mvn:javax.portlet/portlet-api/2.0$Export-Package=javax.portlet.*;version=2.0</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-webmvc-portlet/3.2.14.RELEASE_1</bundle>
    </feature>
    <feature name="spring" description="Spring 4.0.x support" version="4.0.7.RELEASE_1">
        <bundle start-level="30" dependency="true">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.aopalliance/1.0_6</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-core/4.0.7.RELEASE_1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-expression/4.0.7.RELEASE_1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-beans/4.0.7.RELEASE_1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-aop/4.0.7.RELEASE_1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-context/4.0.7.RELEASE_1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-context-support/4.0.7.RELEASE_1</bundle>
        <conditional>
            <condition>deployer</condition>
            <bundle start-level="30">mvn:org.apache.karaf.deployer/org.apache.karaf.deployer.spring/4.0.2</bundle>
        </conditional>
    </feature>
    <feature name="spring-aspects" description="Spring 4.0.x AOP support" version="4.0.7.RELEASE_1">
        <feature version="[4.0.7.RELEASE_1,4.1)" prerequisite="false" dependency="false">spring</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-aspects/4.0.7.RELEASE_1</bundle>
    </feature>
    <feature name="spring-instrument" description="Spring 4.0.x Instrument support" version="4.0.7.RELEASE_1">
        <feature version="[4.0.7.RELEASE_1,4.1)" prerequisite="false" dependency="false">spring</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-instrument/4.0.7.RELEASE_1</bundle>
    </feature>
    <feature name="spring-jdbc" description="Spring 4.0.x JDBC support" version="4.0.7.RELEASE_1">
        <feature version="[4.0.7.RELEASE_1,4.1)" prerequisite="false" dependency="false">spring-tx</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-jdbc/4.0.7.RELEASE_1</bundle>
    </feature>
    <feature name="spring-jms" description="Spring 4.0.x JMS support" version="4.0.7.RELEASE_1">
        <feature version="[4.0.7.RELEASE_1,4.1)" prerequisite="false" dependency="false">spring-tx</feature>
        <bundle start-level="10">mvn:org.apache.geronimo.specs/geronimo-jta_1.1_spec/1.1.1</bundle>
        <bundle start-level="10">mvn:org.apache.geronimo.specs/geronimo-jms_1.1_spec/1.1.1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-jms/4.0.7.RELEASE_1</bundle>
    </feature>
    <feature name="spring-test" description="Spring 4.0.x Test support" version="4.0.7.RELEASE_1">
        <feature version="[4.0.7.RELEASE_1,4.1)" prerequisite="false" dependency="false">spring</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-test/4.0.7.RELEASE_1</bundle>
    </feature>
    <feature name="spring-orm" description="Spring 4.0.x ORM support" version="4.0.7.RELEASE_1">
        <feature version="[4.0.7.RELEASE_1,4.1)" prerequisite="false" dependency="false">spring-jdbc</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-orm/4.0.7.RELEASE_1</bundle>
    </feature>
    <feature name="spring-oxm" description="Spring 4.0.x OXM support" version="4.0.7.RELEASE_1">
        <feature version="[4.0.7.RELEASE_1,4.1)" prerequisite="false" dependency="false">spring</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-oxm/4.0.7.RELEASE_1</bundle>
    </feature>
    <feature name="spring-tx" description="Spring 4.0.x Transaction (TX) support" version="4.0.7.RELEASE_1">
        <feature version="[4.0.7.RELEASE_1,4.1)" prerequisite="false" dependency="false">spring</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-tx/4.0.7.RELEASE_1</bundle>
    </feature>
    <feature name="spring-web" description="Spring 4.0.x Web support" version="4.0.7.RELEASE_1">
        <feature version="[4.0.7.RELEASE_1,4.1)" prerequisite="false" dependency="false">spring</feature>
        <feature prerequisite="false" dependency="false">http</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-web/4.0.7.RELEASE_1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-webmvc/4.0.7.RELEASE_1</bundle>
    </feature>
    <feature name="spring-web-portlet" description="Spring 4.0.x Web Portlet support" version="4.0.7.RELEASE_1">
        <feature prerequisite="true" dependency="false">wrap</feature>
        <feature version="[4.0.7.RELEASE_1,4.1)" prerequisite="false" dependency="false">spring-web</feature>
        <bundle start-level="30" dependency="true">wrap:mvn:javax.portlet/portlet-api/2.0$Export-Package=javax.portlet.*;version=2.0</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-webmvc-portlet/4.0.7.RELEASE_1</bundle>
    </feature>
    <feature name="spring-websocket" description="Spring 4.0.x WebSocket support" version="4.0.7.RELEASE_1">
        <feature version="[4.0.7.RELEASE_1,4.1)" prerequisite="false" dependency="false">spring-web</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-websocket/4.0.7.RELEASE_1</bundle>
    </feature>
    <feature name="spring" description="Spring 4.1.x support" version="4.1.7.RELEASE_1">
        <bundle start-level="30" dependency="true">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.aopalliance/1.0_6</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-core/4.1.7.RELEASE_1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-expression/4.1.7.RELEASE_1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-beans/4.1.7.RELEASE_1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-aop/4.1.7.RELEASE_1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-context/4.1.7.RELEASE_1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-context-support/4.1.7.RELEASE_1</bundle>
        <conditional>
            <condition>deployer</condition>
            <bundle start-level="30">mvn:org.apache.karaf.deployer/org.apache.karaf.deployer.spring/4.0.2</bundle>
        </conditional>
    </feature>
    <feature name="spring-aspects" description="Spring 4.1.x AOP support" version="4.1.7.RELEASE_1">
        <feature version="[4.1.7.RELEASE_1,4.2)" prerequisite="false" dependency="false">spring</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-aspects/4.1.7.RELEASE_1</bundle>
    </feature>
    <feature name="spring-instrument" description="Spring 4.1.x Instrument support" version="4.1.7.RELEASE_1">
        <feature version="[4.1.7.RELEASE_1,4.2)" prerequisite="false" dependency="false">spring</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-instrument/4.1.7.RELEASE_1</bundle>
    </feature>
    <feature name="spring-jdbc" description="Spring 4.1.x JDBC support" version="4.1.7.RELEASE_1">
        <feature version="[4.1.7.RELEASE_1,4.2)" prerequisite="false" dependency="false">spring-tx</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-jdbc/4.1.7.RELEASE_1</bundle>
    </feature>
    <feature name="spring-jms" description="Spring 4.1.x JMS support" version="4.1.7.RELEASE_1">
        <feature version="[4.1.7.RELEASE_1,4.2)" prerequisite="false" dependency="false">spring-tx</feature>
        <bundle start-level="10">mvn:org.apache.geronimo.specs/geronimo-jta_1.1_spec/1.1.1</bundle>
        <bundle start-level="10">mvn:org.apache.geronimo.specs/geronimo-jms_1.1_spec/1.1.1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-jms/4.1.7.RELEASE_1</bundle>
    </feature>
    <feature name="spring-test" description="Spring 4.1.x Test support" version="4.1.7.RELEASE_1">
        <feature version="[4.1.7.RELEASE_1,4.2)" prerequisite="false" dependency="false">spring</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-test/4.1.7.RELEASE_1</bundle>
    </feature>
    <feature name="spring-orm" description="Spring 4.1.x ORM support" version="4.1.7.RELEASE_1">
        <feature version="[4.1.7.RELEASE_1,4.2)" prerequisite="false" dependency="false">spring-jdbc</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-orm/4.1.7.RELEASE_1</bundle>
    </feature>
    <feature name="spring-oxm" description="Spring 4.1.x OXM support" version="4.1.7.RELEASE_1">
        <feature version="[4.1.7.RELEASE_1,4.2)" prerequisite="false" dependency="false">spring</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-oxm/4.1.7.RELEASE_1</bundle>
    </feature>
    <feature name="spring-tx" description="Spring 4.1.x Transaction (TX) support" version="4.1.7.RELEASE_1">
        <feature version="[4.1.7.RELEASE_1,4.2)" prerequisite="false" dependency="false">spring</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-tx/4.1.7.RELEASE_1</bundle>
    </feature>
    <feature name="spring-web" description="Spring 4.1.x Web support" version="4.1.7.RELEASE_1">
        <feature version="[4.1.7.RELEASE_1,4.2)" prerequisite="false" dependency="false">spring</feature>
        <feature prerequisite="false" dependency="false">http</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-web/4.1.7.RELEASE_1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-webmvc/4.1.7.RELEASE_1</bundle>
    </feature>
    <feature name="spring-web-portlet" description="Spring 4.1.x Web Portlet support" version="4.1.7.RELEASE_1">
        <feature prerequisite="true" dependency="false">wrap</feature>
        <feature version="[4.1.7.RELEASE_1,4.2)" prerequisite="false" dependency="false">spring-web</feature>
        <bundle start-level="30" dependency="true">wrap:mvn:javax.portlet/portlet-api/2.0$Export-Package=javax.portlet.*;version=2.0</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-webmvc-portlet/4.1.7.RELEASE_1</bundle>
    </feature>
    <feature name="spring-websocket" description="Spring 4.1.x WebSocket support" version="4.1.7.RELEASE_1">
        <feature version="[4.1.7.RELEASE_1,4.2)" prerequisite="false" dependency="false">spring-web</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-websocket/4.1.7.RELEASE_1</bundle>
    </feature>
    <feature name="spring" description="Spring 4.2.x support" version="4.2.0.RELEASE_1">
        <details>Spring Support</details>
        <bundle start-level="30" dependency="true">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.aopalliance/1.0_6</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-core/4.2.0.RELEASE_1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-expression/4.2.0.RELEASE_1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-beans/4.2.0.RELEASE_1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-aop/4.2.0.RELEASE_1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-context/4.2.0.RELEASE_1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-context-support/4.2.0.RELEASE_1</bundle>
        <conditional>
            <condition>deployer</condition>
            <bundle start-level="30">mvn:org.apache.karaf.deployer/org.apache.karaf.deployer.spring/4.0.2</bundle>
        </conditional>
    </feature>
    <feature name="spring-aspects" description="Spring 4.2.x AOP support" version="4.2.0.RELEASE_1">
        <feature version="[4.2.0.RELEASE_1,4.3)" prerequisite="false" dependency="false">spring</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-aspects/4.2.0.RELEASE_1</bundle>
    </feature>
    <feature name="spring-instrument" description="Spring 4.2.x Instrument support" version="4.2.0.RELEASE_1">
        <feature version="[4.2.0.RELEASE_1,4.3)" prerequisite="false" dependency="false">spring</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-instrument/4.2.0.RELEASE_1</bundle>
    </feature>
    <feature name="spring-jdbc" description="Spring 4.2.x JDBC support" version="4.2.0.RELEASE_1">
        <feature version="[4.2.0.RELEASE_1,4.3)" prerequisite="false" dependency="false">spring-tx</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-jdbc/4.2.0.RELEASE_1</bundle>
    </feature>
    <feature name="spring-jms" description="Spring 4.2.x JMS support" version="4.2.0.RELEASE_1">
        <feature version="[4.2.0.RELEASE_1,4.3)" prerequisite="false" dependency="false">spring-tx</feature>
        <bundle start-level="10">mvn:org.apache.geronimo.specs/geronimo-jta_1.1_spec/1.1.1</bundle>
        <bundle start-level="10">mvn:org.apache.geronimo.specs/geronimo-jms_1.1_spec/1.1.1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-jms/4.2.0.RELEASE_1</bundle>
    </feature>
    <feature name="spring-test" description="Spring 4.2.x Test support" version="4.2.0.RELEASE_1">
        <feature version="[4.2.0.RELEASE_1,4.3)" prerequisite="false" dependency="false">spring</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-test/4.2.0.RELEASE_1</bundle>
    </feature>
    <feature name="spring-orm" description="Spring 4.2.x ORM support" version="4.2.0.RELEASE_1">
        <feature version="[4.2.0.RELEASE_1,4.3)" prerequisite="false" dependency="false">spring-jdbc</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-orm/4.2.0.RELEASE_1</bundle>
    </feature>
    <feature name="spring-oxm" description="Spring 4.2.x OXM support" version="4.2.0.RELEASE_1">
        <feature version="[4.2.0.RELEASE_1,4.3)" prerequisite="false" dependency="false">spring</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-oxm/4.2.0.RELEASE_1</bundle>
    </feature>
    <feature name="spring-tx" description="Spring 4.2.x Transaction (TX) support" version="4.2.0.RELEASE_1">
        <feature version="[4.2.0.RELEASE_1,4.3)" prerequisite="false" dependency="false">spring</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-tx/4.2.0.RELEASE_1</bundle>
    </feature>
    <feature name="spring-web" description="Spring 4.2.x Web support" version="4.2.0.RELEASE_1">
        <feature version="[4.2.0.RELEASE_1,4.3)" prerequisite="false" dependency="false">spring</feature>
        <feature prerequisite="false" dependency="false">http</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-web/4.2.0.RELEASE_1</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-webmvc/4.2.0.RELEASE_1</bundle>
    </feature>
    <feature name="spring-web-portlet" description="Spring 4.2.x Web Portlet support" version="4.2.0.RELEASE_1">
        <feature prerequisite="true" dependency="false">wrap</feature>
        <feature version="[4.2.0.RELEASE_1,4.3)" prerequisite="false" dependency="false">spring-web</feature>
        <bundle start-level="30" dependency="true">wrap:mvn:javax.portlet/portlet-api/2.0$Export-Package=javax.portlet.*;version=2.0</bundle>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-webmvc-portlet/4.2.0.RELEASE_1</bundle>
    </feature>
    <feature name="spring-websocket" description="Spring 4.2.x WebSocket support" version="4.2.0.RELEASE_1">
        <feature version="[4.2.0.RELEASE_1,4.3)" prerequisite="false" dependency="false">spring-web</feature>
        <bundle start-level="30">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.spring-websocket/4.2.0.RELEASE_1</bundle>
    </feature>
    <feature name="spring-security" description="Spring Security 3.1.x support" version="3.1.4.RELEASE">
        <feature prerequisite="false" dependency="false">war</feature>
        <feature version="[3,4)" prerequisite="false" dependency="false">spring-web</feature>
        <bundle dependency="true">mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.aspectj/1.7.4_1</bundle>
        <bundle start-level="30">mvn:org.springframework.security/spring-security-core/3.1.4.RELEASE</bundle>
        <bundle start-level="30">mvn:org.springframework.security/spring-security-config/3.1.4.RELEASE</bundle>
        <bundle start-level="30">mvn:org.springframework.security/spring-security-web/3.1.4.RELEASE</bundle>
        <bundle start-level="30">mvn:org.springframework.security/spring-security-acl/3.1.4.RELEASE</bundle>
        <bundle start-level="30">mvn:org.springframework.security/spring-security-taglibs/3.1.4.RELEASE</bundle>
    </feature>
    <feature name="gemini-blueprint" description="Gemini Blueprint Extender" version="1.0.2.RELEASE">
        <feature version="[3,4)" prerequisite="false" dependency="false">spring</feature>
        <bundle start-level="30">mvn:org.eclipse.gemini/org.eclipse.gemini.blueprint.io/1.0.2.RELEASE</bundle>
        <bundle start-level="30">mvn:org.eclipse.gemini/org.eclipse.gemini.blueprint.core/1.0.2.RELEASE</bundle>
        <bundle start-level="30">mvn:org.eclipse.gemini/org.eclipse.gemini.blueprint.extender/1.0.2.RELEASE</bundle>
        <capability>
            osgi.extender; osgi.extender="osgi.blueprint";uses:="org.osgi.service.blueprint.container,org.osgi.service.blueprint.reflect";version:Version="1.0"
        </capability>
    </feature>
</features>
