

.docs-content {
    header {
        margin: 20px 0 20px;
        border: none;
        background-color: initial;

        h1 {
            color: #393939;
            font-size: 24px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 24px;
            letter-spacing: normal;
        }
    }
}
