//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

extends sidebar

append scripts
    script(src='/clusters-controller.js')

include ../includes/controls

block content
    .docs-header
        h1 Create and Configure Ignite Clusters
    .docs-body(ng-controller='clustersController')
        div(dw-loading='loadingClustersScreen' dw-loading-options='{text: "Loading clusters screen...", className: "page-loading-overlay"}')
            div(ng-show='ui.ready')
                +block-callout('{{screenTip.workflowTitle}}', 'screenTip.workflowContent', '{{screenTip.whatsNextTitle}}', 'screenTip.whatsNextContent')
                hr
                +main-table('Clusters:', 'clusters', 'clusterName', 'selectItem(row)', '{{$index + 1}}) {{row.name}}, {{row.discovery.kind | displayValue:discoveries:"Discovery not set"}}')
                .padding-top-dflt(bs-affix)
                    .panel-tip-container(data-placement='bottom' bs-tooltip data-title='Create new cluster')
                        button.btn.btn-primary(id='new-item' ng-click='createItem()') Add cluster
                    +save-remove-buttons('cluster')
                    hr
                form.form-horizontal(name='ui.inputForm' ng-show='backupItem && tableVisibleRow(displayedRows, selectedItem)' novalidate unsaved-warning-form)
                    .panel-group(bs-collapse ng-model='panels.activePanels' data-allow-multiple='true' ng-click='triggerDigest = true')
                        +groups('general', 'backupItem')
                        div(ng-show='ui.expanded')
                            +advanced-options
                            +groups('advanced', 'backupItem')
                    +advanced-options
                    .section(ng-show='ui.expanded')
                        +save-remove-buttons('cluster')
