//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

include ../includes/controls

.docs-header
    h1 Create and Configure Ignite Clusters
.docs-body(ng-controller='clustersController')
    ignite-callout
        ignite-callout-cel(data-title='On This Screen')
            li Configure Clusters
            li Link Clusters to Caches
            li 
                ignite-dialog More info
                    ignite-dialog-title Clusters screen
                    ignite-dialog-content 
                        | Manage your clusters on current screen.#[br]
                        | Generated clusters configuration available on #[a(ui-sref='base.configuration.summary') summary] screen.

        ignite-callout-cel(data-title='Next Steps')
            li Continue to #[a(ui-sref='base.configuration.caches') Caches]
            li Continue to #[a(ui-sref='base.configuration.summary') Summary]

    div(dw-loading='loadingClustersScreen' dw-loading-options='{text: "Loading clusters screen...", className: "page-loading-overlay"}')
        div(ng-show='ui.ready')
            hr
            +main-table('clusters', 'clusters', 'clusterName', 'selectItem(row)', '{{$index + 1}}) {{row.label}}', 'label')
            .padding-top-dflt(bs-affix)
                .panel-tip-container(data-placement='bottom' bs-tooltip data-title='Create new cluster')
                    button.btn.btn-primary(id='new-item' ng-click='createItem()') Add cluster
                +save-remove-buttons('cluster')
                hr
            form.form-horizontal(name='ui.inputForm' ng-show='backupItem && tableVisibleRow(displayedRows, selectedItem)' novalidate unsaved-warning-form)
                .panel-group(bs-collapse ng-model='panels.activePanels' data-allow-multiple='true' ng-click='triggerDigest = true')
                    +groups('general', 'backupItem')
                    div(ng-show='true')
                        +advanced-options
                        +groups('advanced', 'backupItem')
                        ignite-configuration-clusters-ssl
                        ignite-configuration-clusters-swap
                        ignite-configuration-clusters-time
                        ignite-configuration-clusters-thread
                        ignite-configuration-clusters-transactions
                +advanced-options
                .section(ng-show='ui.expanded')
                    +save-remove-buttons('cluster')
