

include /app/helpers/jade/mixins

.pc-form-grid-col-60(ng-if-start='$checkpointSPI.kind === "FS"')
    .ignite-form-field
        +list-text-field({
            items: `$checkpointSPI.FS.directoryPaths`,
            lbl: 'Directory path',
            name: 'directoryPath',
            itemName: 'path',
            itemsName: 'paths'
        })(
            list-editable-cols=`::[{
                name: 'Paths:',
                tip: 'Paths to a shared directory where checkpoints will be stored'
            }]`
        )
            +form-field__error({ error: 'igniteUnique', message: 'Such path already exists!' })

.pc-form-grid-col-60(ng-if-end)
    +form-field__java-class({
        label: 'Listener:',
        model: '$checkpointSPI.FS.checkpointListener',
        name: '"checkpointFsListener"',
        tip: 'Checkpoint listener implementation class name',
        validationActive: '$checkpointSPI.kind === "FS"'
    })
