

<ng-template #validationMessage>
    <ng-template *ngIf='extraErrorMessages[errorType]' [ngTemplateOutlet]='extraErrorMessages[errorType]'></ng-template>
    <ng-container *ngIf='!extraErrorMessages[errorType] && defaultMessages[errorType]'>{{defaultMessages[errorType]}}</ng-container>
    <ng-container *ngIf='!extraErrorMessages[errorType] && !defaultMessages[errorType]'><div translate [translateParams]="{errorType: errorType}">validationMessages.unknown</div></ng-container>
</ng-template>
<div *ngIf='errorStyle === "inline"' class='inline'>
    <ng-container *ngTemplateOutlet='validationMessage'></ng-container>
</div>
<div *ngIf='errorStyle === "icon"' class='icon'>
    <popper-content #popper>
        <ng-container *ngTemplateOutlet='validationMessage'></ng-container>
    </popper-content>
    <ignite-icon
        name='attention'
        [popper]='popper'
        popperApplyClass='ignite-popper,ignite-popper__error'
        popperTrigger='hover'
        popperPlacement='top'
        popperAppendTo='body'
    ></ignite-icon>
</div>
