

:host {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
button {
    border: none;
    margin: 0;
    padding: 0;
    background: none;
    display: inline-flex;
}
button:hover, button:active {
    color: #0067b9;
}
