//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

mixin ignite-clusters-information
    ignite-information(data-title='On this screen you can')
        ul
            li Configure #[a(href='https://apacheignite.readme.io/docs/clustering' target='_blank') clusters] properties
            li Associate clusters with caches and in-memory file systems
            li Preview XML and Java code

mixin ignite-caches-information
    ignite-information(data-title='On this screen you can')
        ul
            li Configure #[a(href='https://apacheignite.readme.io/docs/data-grid' target='_blank') caches] properties
            li Associate caches with clusters and domain model
            li Preview XML and Java code

mixin ignite-domains-information
    ignite-information(data-title='On this screen you can')
        ul
            li Import Domain model from database
            li Associate domain model with caches
            li Configure #[a(href='https://apacheignite.readme.io/docs/sql-queries' target='_blank') SQL queries]
            li Preview XML and Java code

mixin ignite-igfs-information
    ignite-information(data-title='Configure IGFS only if you are going to use In-memory File System')
        ul
            li Ignite File System (IGFS) is an in-memory file system allowing work with files and directories over existing cache infrastructure
            li IGFS can either work as purely in-memory file system, or delegate to another file system (e.g. various Hadoop file system implementations) acting as a caching layer (see #[a(href='https://apacheignite.readme.io/docs/secondary-file-system' target='_blank') secondary file system]  for more detail)
            li In addition IGFS provides API to execute map-reduce tasks over file system data

mixin ignite-summary-information
    ignite-information(data-title='On this screen you can')
        ul
            li Preview XML configurations for server and client nodes
            li Preview Java classes with server and client nodes configuration from code
            li Preview Maven pom.xml
            li Preview #[a(href='https://apacheignite.readme.io/docs/docker-deployment' target='_blank') Dockerfile] for server node
            li Download fully functional Maven project
