//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

mixin ignite-clusters-information
    ignite-information
        ul
            li Configure #[a(href='https://apacheignite.readme.io/docs/clustering' target='_blank') clusters] properties
            li Associate clusters with caches and in-memory file systems

mixin ignite-domains-information
    ignite-information
        ul
            li Import database schemas

mixin ignite-caches-information
    ignite-information
        ul
            li Configure #[a(href='https://apacheignite.readme.io/docs/data-grid' target='_blank') memory] settings
            li Configure persistence

mixin ignite-igfs-information
    ignite-information(data-title='Configure IGFS only if you are going to use In-memory File System')
        ul
            li Ignite File System (#[a(href='https://apacheignite-fs.readme.io/docs/in-memory-file-system' target='_blank') IGFS]) is an in-memory file system allowing work with files and directories over existing cache infrastructure
            li IGFS can either work as purely in-memory file system, or delegate to another file system (e.g. various Hadoop file system implementations) acting as a caching layer (see #[a(href='https://apacheignite-fs.readme.io/docs/secondary-file-system' target='_blank') secondary file system]  for more detail)
            li In addition IGFS provides API to execute map-reduce tasks over file system data

mixin ignite-summary-information
    ignite-information
        ul
            li Preview XML configurations for #[a(href='https://apacheignite.readme.io/docs/clients-vs-servers' target='_blank') server and client] nodes
            li Preview code configuration
            li Preview #[a(href='https://apacheignite.readme.io/docs/docker-deployment' target='_blank') Docker file]
            li Preview POM dependencies
            li Download ready-to-use Maven project
