

breadcrumbs {
    $side-margin: 5px;

    padding: 3px $side-margin;
    display: inline-flex;
    align-items: center;
    flex-direction: row;

    min-height: 20px;
    border-radius: 4px;
    background-color: rgba(197, 197, 197, 0.1);
    font-size: 12px;
    line-height: 1.08;
    text-align: left;
    color: #393939;

    .#{&}__home {
        margin-left: $side-margin;
        margin-right: $side-margin;
        vertical-align: -1px;
        width: 12px;
        height: 12px;
    }

    [ui-sref] + [ui-sref]:before {
        content: '/';
        margin: 0 $side-margin;
    }
}