#RewriteCond %{REQUEST_FILENAME} -f [OR]
#RewriteCond %{REQUEST_FILENAME} -d [OR]
RewriteCond %{REQUEST_URI} .*\.(css|js|html|png|jpg|jpeg|gif|txt|ttf|json|woff|ico)$ [OR]
RewriteCond %{SERVLET_PATH} -f [OR]
RewriteCond %{REQUEST_URI} ^/ [OR] 
RewriteRule ^(.*)$ - [L]

#RewriteCond %{REMOTE_HOST}  ^shop.*  [OR]
#RewriteCond %{REMOTE_HOST}  ^group.* [OR]
RewriteCond %{REQUEST_URI}  ^/group/1/(.*)$
RewriteRule ^/group/1/(.*)$ /group/1/index.php?q=$1 [L,QSA]


#RewriteCond %{REMOTE_HOST}  ^my.*  [OR]
#RewriteCond %{REMOTE_HOST}  ^web.* [OR]
RewriteCond %{REQUEST_URI}  ^/vista_oa/1/(.*)$
RewriteRule ^/vista_oa/1/(.*)$ /vista_oa/1/index.php?q=$1 [L,QSA]


RewriteCond %{REQUEST_URI}  ^/phpMongoAdmin/(.*)$
RewriteRule ^/phpMongoAdmin/(.*)$ /phpMongoAdmin/index.php?q=$1 [L,QSA]