/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

breadcrumbs {
    $side-margin: 5px;

    padding: 3px $side-margin;
    display: inline-flex;
    align-items: center;
    flex-direction: row;

    min-height: 20px;
    border-radius: 4px;
    background-color: rgba(197, 197, 197, 0.1);
    font-size: 12px;
    line-height: 1.08;
    text-align: left;
    color: #393939;

    .#{&}__home {
        margin-left: $side-margin;
        margin-right: $side-margin;
        vertical-align: -1px;
        width: 12px;
        height: 12px;
    }

    [ui-sref] + [ui-sref]:before {
        content: '/';
        margin: 0 $side-margin;
    }
}