

page-password-reset {
	display: flex;
    flex: 1 0 auto;
    flex-direction: column;

    .form-footer {
        padding: 15px 0;
        text-align: right;
        display: flex;
        align-items: center;

        .btn-ignite {
            margin-left: auto;
        }
    }

    form {
        display: grid;
        grid-gap: 10px;
    }
}
