

no-data(result-data-status='$ctrl.resultDataStatus' handle-cluster-inactive='$ctrl.handleClusterInactive').no-data
    div(ng-if='!$ctrl.igniteChart.config.data.datasets' translate='igniteChartComponent.chartNoDataComponent.noDatasets')