

include /app/helpers/jade/mixins

.modal.modal--ignite.theme--ignite(tabindex='-1' role='dialog' translate-namespace='admin.userNotificationsDialog')
    .modal-dialog
        .modal-content
            .modal-header
                h4.modal-title
                    svg(ignite-icon='gear')
                    span(translate='.title')
                button.close(type='button' aria-label='Close' ng-click='$hide()')
                    svg(ignite-icon='cross')
            .modal-body.modal-body-with-scroll(id='user-notifications-dialog')
                p(translate='.message')
                .form-field__ace.ignite-form-field
                    +form-field__label({ label: 'Your notification:', name: 'notification', required: true})
                    .form-field__control
                        div(ignite-ace='{onLoad: $ctrl.onLoad, mode: "xml"}' ng-trim='true' ng-model='$ctrl.message')

            .modal-footer
                +form-field__checkbox({
                    label: '{{::"admin.userNotificationsDialog.showMessageInput.label"|translate}}',
                    name: 'showMessages',
                    model: '$ctrl.visible'
                })

                div
                    button.btn-ignite.btn-ignite--link-success(id='btn-cancel' ng-click='$hide()' translate='.cancelButtonLabel')
                    button.btn-ignite.btn-ignite--success(id='btn-submit' ng-click='$ctrl.submit()' translate='.formActionButtonLabel')
