

form(
    name='ui.inputForm'
    id='cache'
    novalidate
)
    include ./templates/general   

.pc-form-actions-panel
    .pc-form-actions-panel__right-after
    button.btn-ignite.btn-ignite--link-success(
        type='button'
        ng-click='$ctrl.confirmAndReset()'
    )
        | Cancel
    pc-split-button(actions=`::$ctrl.formActions`)