<!doctype html>
<html ng-app='ignite-console' id='app' ng-strict-di>
<head>
    <meta charset="utf-8">
    <base href="/">
    <title>{%=o.htmlWebpackPlugin.options.title%}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="/favicon.ico?v1" type="image/x-icon">

    {% if (o.htmlWebpackPlugin.files.favicon) { %}
    <link rel="shortcut icon" href="{%=o.htmlWebpackPlugin.files.favicon%}">
    {% } %}

    {% for (var css in o.htmlWebpackPlugin.files.css) { %}
    <link href="{%=o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet">
    {% } %}


    {% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
    <script src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry %}"></script>
    {% } %}

</head>
<body class="theme-line body-overlap greedy">
<div hide-on-state-change="hide-on-state-change" class="splash splash-max-foreground">
    <div class="splash-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
        <div class="splash-wellcome">Loading...</div>
    </div>
</div>
<div ng-cloak="ng-cloak" class="ribbon-wrapper right">
    <div ng-style="IgniteDemoMode &amp;&amp; {&quot;background&quot;: &quot;#1b6d88&quot;}" class="ribbon">
        <label>{{IgniteDemoMode ? "Demo" : "Beta" }}</label>
    </div>
</div>
<div ui-view="" class="wrapper"></div>


</body>
</html>