{
  "server": {
    "port": 3000,
    "sessionSecret": "CHANGE ME",
    "ssl": false,
    "key": "serve/keys/server.key",
    "cert": "serve/keys/server.crt",
    "ca": "serve/keys/ca.crt",
    "ciphers": "ECDHE-RSA-AES128-GCM-SHA256",
    "secureProtocol": "TLSv1_2_method",
    "passphrase": "password",
    "disable": {
      "signup": false
    }
  },
  "mongodb": {
    "url": "mongodb://localhost/console"
  },
  "mail": {
    "service": "gmail",
    "from": "Some Company Web Console <some_username@some_company.com>",
    "greeting": "Some Company Web Console",
    "sign": "Kind regards,<br>Some Company Team",
    "auth": {
      "user": "some_username@some_company.com",
      "pass": "CHANGE ME"
    }
  }
}
