/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.datepicker.dropdown-menu tbody button {
    height: 100%;
}

.datepicker--ignite {
    $height: 36px;

    display: inline-block;
    width: auto;

    font-size: 14px;

    label.ignite-form-field__label {
        width: auto;
        max-width: initial;

        font-size: inherit;
        line-height: $height;
    }

    .ignite-form-field__control {
        width: auto;

        input {
            width: auto;
            height: $height;
            min-width: 70px;
            max-width: 70px;
            padding: 0;
            padding-left: 5px;

            cursor: pointer;
            color: transparent;
            font-size: inherit;
            line-height: $height;
            text-align: left;
            text-shadow: 0 0 0 #ee2b27;

            border: none;
            box-shadow: none;

            &:hover, &:focus {
                text-shadow: 0 0 0 #a8110f;
            }
        }
    }
}