/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.datepicker.dropdown-menu {
    width: 250px;
    height: 270px;

    button {
        outline: none;
        border: 0;
    }

    tbody {
        height: 180px;
    }

    tbody button {
        padding: 6px;
        height: 100%;
    }

    &.datepicker-mode-1, &.datepicker-mode-2 {
        tbody button {
            height: 65px;
        }
    }
}

.datepicker--ignite {
    $height: 36px;

    display: inline-block;
    width: auto;

    font-size: 14px;

    label.ignite-form-field__label {
        width: auto;
        max-width: initial;

        font-size: inherit;
        line-height: $height;
    }

    .ignite-form-field__control {
        @import "./../../../public/stylesheets/variables.scss";

        width: auto;

        input {
            width: auto;
            height: $height;
            min-width: 70px;
            max-width: 70px;
            padding: 0;
            padding-left: 5px;

            cursor: pointer;
            color: transparent;
            font-size: inherit;
            line-height: $height;
            text-align: left;
            text-shadow: 0 0 0 $ignite-brand-success;

            border: none;
            box-shadow: none;

            &:hover, &:focus {
                text-shadow: 0 0 0 change-color($ignite-brand-success, $lightness: 26%);
            }
        }
    }
}

.theme--ignite {
    .datepicker--ignite {
        display: block;
        width: 100%;

        font-size: 14px;
    }
}