body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
    color: #000;
    font-weight: normal;
    font-family: 'Open Sans';
}

h1 {
    font-size: 36px;
    line-height: 40px;
}

a {
    text-decoration: none;
    color: var(--link-color);
}


section {
    color: #545454;
}

table {
    border-collapse: collapse;

    td, th {
        text-align: left;
        padding: 5px 10px;
        border-bottom: 1px solid hsl(0, 0%, 85%);
        border-top: 1px solid hsl(0, 0%, 85%);
    }

    td p.tableblock {
        margin-top: 0.5em;
        margin-bottom: 0.5em;

        &:first-child {
            margin-top: 0.125em;
        }

        &:last-child {
            margin-bottom: 0.125em;
        }
    }
}
