

include /app/helpers/jade/mixins

form(id='cluster' name='ui.inputForm' novalidate)
    .panel-group       
       
        include ./templates/attributes

.pc-form-actions-panel(n_g-show='$ctrl.$scope.selectedItem')    

    .pc-form-actions-panel__right-after

    button.btn-ignite.btn-ignite--link-success(
        type='button'
        ng-click='$ctrl.confirmAndReset()'
    )
        | Cancel
    pc-split-button(actions=`::$ctrl.formActions`)
