[Unit]
Description=Apache Ignite In-Memory Computing Platform Service
After=syslog.target network.target

[Service]
Type=forking
User=#user#
WorkingDirectory=/usr/share/#name#/work
PermissionsStartOnly=true
ExecStartPre=-/usr/bin/mkdir /var/run/#name#
ExecStartPre=-/usr/bin/chown #user#:#user# /var/run/#name#
ExecStartPre=-/usr/bin/env bash /usr/share/#name#/bin/service.sh set-firewall
EnvironmentFile=/etc/#name#/node.cfg
ExecStart=/usr/share/#name#/bin/service.sh start ${pathToConfig}
PIDFile=/var/run/#name#/#name#.pid

[Install]
WantedBy=multi-user.target