
.modal.modal--ignite.theme--ignite.center(role='dialog')
    .modal-dialog
        .modal-content
            #errors-container.modal-header.header
                button.close(ng-click='close()' aria-hidden='true')
                    svg(ignite-icon="cross")
                h4.modal-title
                    svg(ignite-icon="attention")
                    | {{title}}
            .modal-body
                div(ng-bind-html='message')

                div(ng-hide='hasAgents')
                    h4
                        i.fa.fa-download.fa-cursor-default
                        | &nbsp;How To Start Demo
                    ul
                        li
                            a(ng-href='{{downloadAgentHref}}' target='_self') #[b Download]
                            | &nbsp; and unzip ignite-web-console-agent archive
                        li #[b Run] shell file ignite-web-console-agent.{sh|bat}

                div(ng-hide='!hasAgents')
                    h4
                        i.fa.fa-star-o.fa-cursor-default
                        | &nbsp;Start Demo
                    ul
                        li Web Agent is already started
                        li Close dialog and try Web Console

            .modal-footer
                .ng-animate-disabled(ng-if='!hasAgents')
                    button.btn-ignite.btn-ignite--link-success(ng-click='close()') Close
                    a.btn-ignite.btn-ignite--success(ng-href='{{downloadAgentHref}}' target='_self') Download agent

                .ng-animate-disabled(ng-if='hasAgents')
                    button.btn-ignite.btn-ignite--success(ng-click='close()') Close
