
include /app/helpers/jade/mixins

.modal.modal--ignite.theme--ignite.center(role='dialog')
    .modal-dialog
        .modal-content
            #errors-container.modal-header.header
                button.close(ng-click='close()' aria-hidden='true')
                    svg(ignite-icon="cross")
                h4.modal-title
                    | {{title}}
            .modal-body
                .getting-started.row(ng-bind-html='message')
            .modal-footer
                div
                    +form-field__checkbox({
                        label: 'Do not show this window again',
                        model: 'ui.dontShowGettingStarted',
                        name: '"dontShowGettingStarted"'
                    })
                div
                    a.btn-ignite.btn-ignite--link-success(ng-disabled='isFirst()' ng-click='!isFirst() && prev()') Prev
                    a.btn-ignite.btn-ignite--link-success(ng-disabled='isLast()' ng-click='!isLast() && next()') Next
                    a.btn-ignite.btn-ignite--success(ng-click='close()') Close
