// @cpp.file.header

/*  _________        _____ __________________        _____
 *  __  ____/___________(_)______  /__  ____/______ ____(_)_______
 *  _  / __  __  ___/__  / _  __  / _  / __  _  __ `/__  / __  __ \
 *  / /_/ /  _  /    _  /  / /_/ /  / /_/ /  / /_/ / _  /  _  / / /
 *  \____/   /_/     /_/   \_,__/   \____/   \__,_/  /_/   /_/ /_/
 */

#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "resource.h"

#define GG_VERSION_STR GG_VERSION_STR_WIN
#define GG_VERSION_BIN GG_VERSION_BIN_WIN

//
// Version Information resources
//
LANGUAGE 0, SUBLANG_NEUTRAL
1 VERSIONINFO
    FILEVERSION     GG_VERSION_BIN
    PRODUCTVERSION  GG_VERSION_BIN
    FILEOS          VOS__WINDOWS32
    FILETYPE        VFT_DLL
    FILESUBTYPE     VFT2_UNKNOWN
    FILEFLAGSMASK   0x0000003F
    FILEFLAGS       0x00000000
{
    BLOCK "StringFileInfo"
    {
        BLOCK "000004E4"
        {
            VALUE "CompanyName", "GridGain Systems"
			VALUE "LegalCopyright", "GridGain Systems"
            VALUE "ProductName", "GridGain C++ Client"
			VALUE "ProductVersion", GG_VERSION_STR
			VALUE "FileVersion", GG_VERSION_STR
            VALUE "FileDescription", "GridGain C++ client library."
			VALUE "InternalName", ""
			VALUE "OriginalFilename", "gridgain-client-" GG_VERSION_STR ".dll"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0000, 0x04E4
    }
}
