

page-datasets-advanced {
    display: block;
    padding: 30px 20px;

    .pcb-inner-padding {
        padding-left: 10px;
        padding-right: 10px;
    }

    .pcb-section-notification {
        font-size: 14px;
        color: #757575;
        margin-bottom: 1em;
    }

    .pcb-section-header {
        margin-top: 0;
        margin-bottom: 7px;
        font-size: 16px;
        line-height: 19px;
    }

    .pcb-form-main-buttons {
        display: flex;
        flex-direction: row;
        .pcb-form-main-buttons-left {
            margin-right: auto;
        }
        .pcb-form-main-buttons-right {
            margin-left: auto;
        }
    }
    .pc-form-actions-panel {
        margin: 20px -20px -30px;
        box-shadow: 0px -2px 4px -1px rgba(0, 0, 0, 0.2);
    }

    .form-field__checkbox {
        margin-top: auto;
        margin-bottom: 8px;
    }    
}