

ignite-list-of-registered-users {
    display: block;

    .user-cell {
        display: flex;
        overflow-wrap: normal;
        white-space: normal;

        label {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .form-field--inline:first-child {
        margin-right: 20px;
    }
}