/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

$color-inactive: #dddddd;
$color-active: #5896c7;
$color-visited: #9ab9d2;

$text-inactive: #393939;
$text-active: #ffffff;
$text-visited: #0067b9;

$arrow-width: 17px;
$arrow-to-text-gap: 24px;

$transition-speed: 0.2s;

steps-nav-step {
    display: flex;
    flex: 1 1;
    position: relative;

    .#{&} {
        width: 100%;
        height: 100%;
        min-height: 36px;
        padding: 8px 10px 9px $arrow-width + $arrow-to-text-gap;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        transition: background-color $transition-speed, color $transition-speed;

        & + .steps-nav-step__arrow {
            transition: color $transition-speed;
        }
    }

    .steps-nav-step__arrow {
        height: 100%;
        width: $arrow-width;
        position: absolute;
        top: 0;
        bottom: 0;
        right: -$arrow-width + 1px;
        z-index: 2;
        overflow: visible;
    }

    &:first-child .#{&} {
        padding-left: $arrow-to-text-gap;
    }

    &:last-child .#{&} + .#{&}__arrow {
        display: none;
    }

    @mixin step-colors($suffix, $bg-color, $text-color) {
        .steps-nav-step__#{$suffix} {
            color: $text-color;
            background-color: $bg-color;

            & + .steps-nav-step__arrow {
                color: $bg-color;
            }
        }
    }

    @include step-colors('inactive', $color-inactive, $text-inactive);
    @include step-colors('visited', $color-visited, $text-visited);
    @include step-colors('active', $color-active, $text-active);
}