//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

include ../../../../../../app/helpers/jade/mixins.jade

-var model = 'backupItem.logger.Log4j'
-var form = 'loggerLog4j'

div
    .details-row
        +dropdown('Level:', model + '.level', 'log4jLevel', 'true', 'Default',
            '[\
                {value: "OFF", label: "OFF"},\
                {value: "FATAL", label: "FATAL"},\
                {value: "ERROR", label: "ERROR"},\
                {value: "WARN", label: "WARN"},\
                {value: "INFO", label: "INFO"},\
                {value: "DEBUG", label: "DEBUG"},\
                {value: "TRACE", label: "TRACE"},\
                {value: "ALL", label: "ALL"},\
                {value: undefined, label: "Default"}\
            ]',
            'Level for internal log4j implementation')
    .details-row
        +dropdown-required('Logger configuration:', model + '.mode', 'javaMode', 'true', 'true', 'Choose logger mode',
            '[\
                {value: "Default", label: "Default"},\
                {value: "Logger", label: "Logger"},\
                {value: "Path", label: "Path"},\
                {value: "Configure", label: "Configure"}]',
            'Choose logger configuration\
            <ul>\
                <li>Default - default logger</li>\
                <li>Logger - created logger object</li>\
                <li>Path - path or URI to XML configuration</li>\
                <li>Configure - configure default logger</li>\
            </ul>')
    .details-row(ng-if='#{model}.mode === "Logger"')
        +java-class('Logger:', model + '.logger', 'Log4jLogger', 'true', 'true', 'Logger implementation for use')
    .details-row(ng-if='#{model}.mode === "Configure"')
        +checkbox("Configure", model + '.configure', 'javaInit', tip)
    .details-row(ng-if='#{model}.mode === "Path"')
        +text('Path:', model + '.path', 'log4j2Path', 'true', 'Input path', 'Path or URI to XML configuration')
