Source: apache-ignite
Maintainer: Petr Ivanov <mr.weider@gmail.com>
Section: misc
Priority: optional
Standards-Version: 4.1.1.1

Package: apache-ignite
Architecture: all
Section: misc
Priority: optional
Depends: openjdk-8-jdk | openjdk-11-jdk | default-jdk | java-sdk, systemd, passwd
Description: Apache Ignite In-Memory Computing, Database and Caching Platform
 Ignite™ is a memory-centric distributed database, caching, and processing
 platform for transactional, analytical, and streaming workloads, delivering
 in-memory speeds at petabyte scale
Homepage: https://ignite.apache.org

