//-
   Copyright (C) GridGain Systems. All Rights Reserved.
   _________        _____ __________________        _____
   __  ____/___________(_)______  /__  ____/______ ____(_)_______
   _  / __  __  ___/__  / _  __  / _  / __  _  __ `/__  / __  __ \
   / /_/ /  _  /    _  /  / /_/ /  / /_/ /  / /_/ / _  /  _  / / /
   \____/   /_/     /_/   \_,__/   \____/   \__,_/  /_/   /_/ /_/

web-console-header(hide-menu-button='true')
    .web-console-header-content__title Management console for Apache Ignite
    .page-landing__button-signin.btn-ignite.btn-ignite--primary(ui-sref='signin') Sign In
.content(ui-view='page')
web-console-footer.web-console-footer__page-bottom