//-
   Copyright (C) GridGain Systems. All Rights Reserved.
   _________        _____ __________________        _____
   __  ____/___________(_)______  /__  ____/______ ____(_)_______
   _  / __  __  ___/__  / _  __  / _  / __  _  __ `/__  / __  __ \
   / /_/ /  _  /    _  /  / /_/ /  / /_/ /  / /_/ / _  /  _  / / /
   \____/   /_/     /_/   \_,__/   \____/   \__,_/  /_/   /_/ /_/

.container.body-container
    h2 Ready!

    p 
        | Further instructions for password reset have been sent to your e-mail address.#[br]
        | You'll be redirected back automatically in a few seconds. If not, please #[a(ui-sref='signin') click here].
