<?xml version="1.0" encoding="UTF-8"?>

<!--
    _________        _____ __________________        _____
    __  ____/___________(_)______  /__  ____/______ ____(_)_______
    _  / __  __  ___/__  / _  __  / _  / __  _  __ `/__  / __  __ \
    / /_/ /  _  /    _  /  / /_/ /  / /_/ /  / /_/ / _  /  _  / / /
    \____/   /_/     /_/   \_,__/   \____/   \__,_/  /_/   /_/ /_/

    @xml.file.header
    Version: @xml.file.version
-->

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <!-- Declare listener for web sessions caching. -->
    <listener>
        <listener-class>org.gridgain.grid.startup.servlet.GridServletContextListenerStartup</listener-class>
    </listener>

    <!-- Declare filter for web sessions caching. -->
    <filter>
        <filter-name>GridGainWebSessionsFilter</filter-name>
        <filter-class>org.gridgain.grid.cache.websession.GridWebSessionFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>GridGainWebSessionsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
