

.flex-full-height > [ui-view] {
	display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.amis-scope *, .amis-scope *::before, .amis-scope *::after {
    box-sizing: content-box;
}

div.pc-form-actions-panel {
    display: flex;
    flex-direction: row;
    padding: 10px 20px 10px 30px;
    margin: 20px -30px -30px;
    //box-shadow: 0px -2px 4px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2), 0 3px 4px -1px rgba(0, 0, 0, 0.2);
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background: white;
    border-radius: 0 0 4px 4px;
    z-index: 10;

    &>*+* {
        margin-left: 10px;
        max-height: 36px;
    }

    .link-primary + .link-primary {
        margin-left: 40px;
    }

    .pc-form-actions-panel__right-after {
        width: 0;
        margin-left: auto;
    }

    .message {
        font-size: 14px;
        color: #e30d09;
        margin: 0.25em;
    }
}
