/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

web-console-footer {
    display: block;
    font-size: 12px;

    width: var(--width-wide);
    display: flex;
    flex-direction: column;
    padding: 27px 18px 27px 27px;

    .#{&}__legal {
        color: rgba(0, 0, 0, 0.54);
    }
}


*:not(web-console-sidebar) > web-console-footer {
    color: #fafafa;
    background: #393939;
    font-size: 12px;
    font-weight: 300;
    padding-top: 12px;
    padding-bottom: 12px;

    p {
        margin: 0;
    }

    a {
        color: #ee8e89 !important;
        &:hover, &:focus {
            color: #ee2b27 !important;
        }
    }

    .web-console-footer__legal {
        color: inherit;
    }
}