

span(
    translate='listEditableComponent.noItemsMessage'
    translate-values='::{entity: $ctrl.labelMultiple}'
)
a.link-success(ng-click=`$ctrl.addItem()` translate='listEditableComponent.noItemsCreateOneButtonLabel')