//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

include ../../../../../app/helpers/jade/mixins.jade

-var form = 'connector'
-var model = 'backupItem.connector'
-var enabled = model + '.enabled'
-var sslEnabled = enabled + ' && ' + model + '.sslEnabled'

.panel.panel-default(ng-form=form novalidate)
    .panel-heading(bs-collapse-toggle ng-click='ui.loadPanel("#{form}")')
        ignite-form-panel-chevron
        label Connector configuration
        ignite-form-field-tooltip.tipLabel
            | Configure HTTP REST configuration to enable HTTP server features
        ignite-form-revert
    .panel-collapse(role='tabpanel' bs-collapse-target id=form)
        .panel-body(ng-if='ui.isPanelLoaded("#{form}")')
            .col-sm-6
                .settings-row
                    +checkbox('Enabled', enabled, '"restEnabled"', 'Flag indicating whether to configure connector configuration')
                .settings-row
                    +text-enabled('Jetty configuration path:', model + '.jettyPath', '"connectorJettyPath"', enabled, 'false', 'Input path to Jetty configuration',
                        'Path, either absolute or relative to IGNITE_HOME, to Jetty XML configuration file<br/>\
                        Jetty is used to support REST over HTTP protocol for accessing Ignite APIs remotely<br/>\
                        If not provided, Jetty instance with default configuration will be started picking IgniteSystemProperties.IGNITE_JETTY_HOST and IgniteSystemProperties.IGNITE_JETTY_PORT as host and port respectively')
                .settings-row
                    +text-ip-address('TCP host:', model + '.host', '"connectorHost"', enabled, 'IgniteConfiguration#getLocalHost()',
                        'Host for TCP binary protocol server<br/>\
                        This can be either an IP address or a domain name<br/>\
                        If not defined, system - wide local address will be used IgniteConfiguration#getLocalHost()<br/>\
                        You can also use "0.0.0.0" value to bind to all locally - available IP addresses')
                .settings-row
                    +number-min-max('TCP port:', model + '.port', '"connectorPort"', enabled, '11211', '1024', '65535', 'Port for TCP binary protocol server')
                .settings-row
                    +number('TCP port range:', model + '.portRange', '"connectorPortRange"', enabled, '100', '1', 'Number of ports for TCP binary protocol server to try if configured port is already in use')
                .settings-row
                    +number('Idle query cursor timeout:', model + '.idleQueryCursorTimeout', '"connectorIdleQueryCursorTimeout"', enabled, '600000', '0',
                        'Reject open query cursors that is not used timeout<br/>\
                        If no fetch query request come within idle timeout, it will be removed on next check for old query cursors')
                .settings-row
                    +number('Idle query cursor check frequency:', model + '.idleQueryCursorCheckFrequency', '"connectorIdleQueryCursorCheckFrequency"', enabled, '60000', '0',
                        'Idle query cursors check frequency<br/>\
                        This setting is used to reject open query cursors that is not used')
                .settings-row
                    +number('Idle timeout:', model + '.idleTimeout', '"connectorIdleTimeout"', enabled, '7000', '0',
                        'Idle timeout for REST server<br/>\
                        This setting is used to reject half - opened sockets<br/>\
                        If no packets come within idle timeout, the connection is closed')
                .settings-row
                    +number('Receive buffer size:', model + '.receiveBufferSize', '"connectorReceiveBufferSize"', enabled, '32768', '0', 'REST TCP server receive buffer size')
                .settings-row
                    +number('Send buffer size:', model + '.sendBufferSize', '"connectorSendBufferSize"', enabled, '32768', '0', 'REST TCP server send buffer size')
                .settings-row
                    +number('Send queue limit:', model + '.sendQueueLimit', '"connectorSendQueueLimit"', enabled, 'unlimited', '0',
                        'REST TCP server send queue limit<br/>\
                        If the limit exceeds, all successive writes will block until the queue has enough capacity')
                .settings-row
                    +checkbox-enabled('Direct buffer', model + '.directBuffer', '"connectorDirectBuffer"', enabled,
                        'Flag indicating whether REST TCP server should use direct buffers<br/>\
                        A direct buffer is a buffer that is allocated and accessed using native system calls, without using JVM heap<br/>\
                        Enabling direct buffer may improve performance and avoid memory issues(long GC pauses due to huge buffer size)')
                .settings-row
                    +checkbox-enabled('TCP_NODELAY option', model + '.noDelay', '"connectorNoDelay"', enabled,
                        'Flag indicating whether TCP_NODELAY option should be set for accepted client connections<br/>\
                        Setting this option reduces network latency and should be enabled in majority of cases<br/>\
                        For more information, see Socket#setTcpNoDelay(boolean)')
                .settings-row
                    +number('Selector count:', model + '.selectorCount', '"connectorSelectorCount"', enabled, 'min(4, availableProcessors)', '1',
                        'Number of selector threads in REST TCP server<br/>\
                        Higher value for this parameter may increase throughput, but also increases context switching')
                .settings-row
                    +number('Thread pool size:', model + '.threadPoolSize', '"connectorThreadPoolSize"', enabled, 'max(8, availableProcessors) * 2', '1',
                        'Thread pool size to use for processing of client messages (REST requests)')
                .settings-row
                    +java-class('Message interceptor:', model + '.messageInterceptor', '"connectorMessageInterceptor"', enabled, 'false',
                        'Interceptor allows to transform all objects exchanged via REST protocol<br/>\
                        For example if you use custom serialisation on client you can write interceptor to transform binary representations received from client to Java objects and later access them from java code directly')
                .settings-row
                    +text-enabled('Secret key:', model + '.secretKey', '"connectorSecretKey"', enabled, 'false', 'Specify to enable authentication', 'Secret key to authenticate REST requests')
                .settings-row
                    +checkbox-enabled('Enable SSL', model + '.sslEnabled', '"connectorSslEnabled"', enabled, 'Enables/disables SSL for REST TCP binary protocol')
                .settings-row
                    +checkbox-enabled('Enable SSL client auth', model + '.sslClientAuth', '"connectorSslClientAuth"', sslEnabled, 'Flag indicating whether or not SSL client authentication is required')
                .settings-row
                    +java-class('SSL factory:', model + '.sslFactory', '"connectorSslFactory"', sslEnabled, sslEnabled,
                        'Instance of Factory that will be used to create an instance of SSLContext for Secure Socket Layer on TCP binary protocol')
            .col-sm-6
                +preview-xml-java(model, 'clusterConnector')
