//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

include ../../../../../app/helpers/jade/mixins.jade

-var form = 'metrics'
-var model = 'backupItem'

.panel.panel-default(ng-form=form novalidate)
    .panel-heading(bs-collapse-toggle ng-click='ui.loadPanel("#{form}")')
        ignite-form-panel-chevron
        label Metrics
        ignite-form-field-tooltip.tipLabel
            | Cluster runtime metrics settings
        ignite-form-revert
    .panel-collapse(role='tabpanel' bs-collapse-target id=form)
        .panel-body(ng-if='ui.isPanelLoaded("#{form}")')
            .col-sm-6
                .settings-row
                    +number('Elapsed time:', model + '.metricsExpireTime', '"metricsExpireTime"', 'true', 'Long.MAX_VALUE', '1',
                        'Time in milliseconds after which a certain metric value is considered expired')
                .settings-row
                    +number('History size:', model + '.metricsHistorySize', '"metricsHistorySize"', 'true', '10000', '1',
                        'Number of metrics kept in history to compute totals and averages')
                .settings-row
                    +number('Log frequency:', model + '.metricsLogFrequency', '"metricsLogFrequency"', 'true', '60000', '0',
                        'Frequency of metrics log print out<br/>\ ' +
                        'When <b>0</b> log print of metrics is disabled')
                .settings-row
                    +number('Update frequency:', model + '.metricsUpdateFrequency', '"metricsUpdateFrequency"', 'true', '2000', '0',
                        'Job metrics update frequency in milliseconds\
                        <ul>\
                            <li>If set to -1 job metrics are never updated</li>\
                            <li>If set to 0 job metrics are updated on each job start and finish</li>\
                            <li>Positive value defines the actual update frequency</li>\
                        </ul>')
            .col-sm-6
                +preview-xml-java(model, 'clusterMetrics')
