

ignite-chart {
  display: flex;
  flex-direction: column;

  height: 100%;

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: content-box;

    height: 36px;
    min-height: 36px;
    padding: 7px 21px;

    border-bottom: 1px solid #d4d4d4;

    h5 {
      margin: 0;

      font-size: 16px;
      font-weight: normal;
      line-height: 36px;
    }

    ignite-chart-series-selector {
      margin: 0 2px;
    }

    > div {
      &:first-child {
        width: calc(100% - 120px);
        white-space: nowrap;
      }

      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      flex-grow: 0;

      .chart-text {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .ignite-chart-placeholder {
    display: block;
    height: calc(100% - 71px);
    margin-top: 20px;
  }

  .no-data {
    position: absolute;
    top: 50%;

    width: 100%;
    padding: 0 20px;

    border-radius: 0 0 4px 4px;

    font-style: italic;
    line-height: 16px;
    text-align: center;
  }
}
