

cache-meric-form {
    display: block;

    .pca-data-column-6 {
        display: block;
        width: 50%;    
    }
    
    .pca-form-column-12 {
        flex: 0 0 100%;    
    }
    
    .pc-form-grid-row {
        .pc-form-grid-col-120 {
            flex: 0 0 100%;
        }
    }
}

