  
    
button.web-console-header__togle-menu-button(
    type='button'
    title='Toggle menu'
    ng-click='$ctrl.toggleSidebar()'
    ng-class='::{"web-console-header__togle-menu-button-hidden": $ctrl.hideMenuButton}'
)
    svg(ignite-icon='menu')

a(ui-sref='{{($ctrl.userIsAuthorized$|async:this) ? "default-state" : "landing"}}').wch-logo-anchor
    img.wch-logo(src='/images/ignite-logo.svg')

ng-transclude
