/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

web-console-header {
    @import "./../../../public/stylesheets/variables.scss";

    $nav-item-margin: 30px;
    $bottom-border-width: 4px;

    display: flex;
    flex-direction: row;
    align-items: center;
    height: 62px;
    font-size: 16px;
    border-bottom: $bottom-border-width solid red;
    background: white;
    position: relative;
    padding-left: 16px;

    &>ng-transclude {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        height: 100%;
        flex: 1;
    }

    &:after {
        // Shows header shadow over absolutely positioned child content,
        // otherwise z ordering issues happen.
        display: block;
        width: 100%;
        content: '';
        height: 20px;
        position: absolute;
        overflow: hidden;
        bottom: -4px;
        pointer-events: none;
    }

    .wch-slot {
        &>* {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-top: 7px;
        }

        &.wch-slot-left {
            margin-left: 80px;
        }

        &.wch-slot-right {
            margin: 0 0 0 auto;
        }
    }

    .wch-logo {
        height: 40px;
    }

    .wch-additional-nav-items {
        display: flex;
    }

    .web-console-header__togle-menu-button {
        width: 40px;
        height: 40px;
        background: none !important;
        border: none !important;
        margin: 0 !important;
        padding: 0 !important;
        outline: none !important;
        color: rgba(0, 0, 0, 0.54);
        margin-right: 5px;
    }
    .web-console-header__togle-menu-button-hidden {
        visibility: hidden;
    }
}
