{
    "server": {
        "port": 3000,
        "ssl": false,
        "key": "serve/keys/test.key",
        "cert": "serve/keys/test.crt",
        "keyPassphrase": "password"
    },
    "mongoDB": {
        "url": "mongodb://localhost/console"
    },
    "agent-server": {
        "port": 3001,
        "ssl": false,
        "key": "serve/keys/test.key",
        "cert": "serve/keys/test.crt",
        "keyPassphrase": "password"
    },
    "smtp": {
        "service": "",
        "username": "Apache Ignite Web Console",
        "sign": "Kind regards,<br>Apache Ignite Team",
        "email": "",
        "password": ""
    }
}
