{#
 Licensed to the Apache Software Foundation (ASF) under one or more
 contributor license agreements.  See the NOTICE file distributed with
 this work for additional information regarding copyright ownership.
 The ASF licenses this file to You under the Apache License, Version 2.0
 (the "License"); you may not use this file except in compliance with
 the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
#}


{% macro rendezvous_backup_filter(affinity) %}
    <bean class="org.apache.ignite.cache.affinity.rendezvous.RendezvousAffinityFunction">
        <property name="affinityBackupFilter">
            <bean class="org.apache.ignite.internal.ducktest.tests.cellular_affinity_test.CellularAffinityBackupFilter">
                <constructor-arg value="{{ affinity.constructor_arg }}"/>
            </bean>
        </property>
    </bean>
{% endmacro %}

{% macro cache_configs(caches) %}
    {% if caches %}
        <property name="cacheConfiguration">
            <list>
                {% for cache in caches %}
                <bean class="org.apache.ignite.configuration.CacheConfiguration">
                    <property name="name" value="{{ cache.name }}"/>
                    <property name="backups" value="{{ cache.backups or 0 }}"/>
                    <property name="cacheMode" value="{{ cache.cache_mode }}"/>
                    <property name="atomicityMode" value="{{ cache.atomicity_mode or 'ATOMIC' }}"/>

                    {% if cache.indexed_types %}
                    <property name="indexedTypes">
                        <list>
                            {% for class in cache.indexed_types %}
                                <value>{{ class }}</value>
                            {% endfor %}
                        </list>
                    </property>
                    {% endif %}

                    {% if cache.affinity and cache.affinity.name == 'BACKUP_FILTER' %}
                    <property name="affinity">
                    {{ rendezvous_backup_filter(cache.affinity) }}
                    </property>
                    {% endif %}
                </bean>
                {% endfor %}
            </list>
        </property>
    {% endif %}
{% endmacro %}
