{#
 Licensed to the Apache Software Foundation (ASF) under one or more
 contributor license agreements.  See the NOTICE file distributed with
 this work for additional information regarding copyright ownership.
 The ASF licenses this file to You under the Apache License, Version 2.0
 (the "License"); you may not use this file except in compliance with
 the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
#}

{% macro ip_finder(spi) %}
    {% if spi.ip_finder and spi.ip_finder.type == 'VM' %}
        <property name="ipFinder">
            <bean class="org.apache.ignite.spi.discovery.tcp.ipfinder.vm.TcpDiscoveryVmIpFinder">
                <property name="addresses">
                    <list>
                        {% for address in spi.ip_finder.addresses %}
                            {% if spi.port_range > 0 %}
                                <value>{{ address }}:{{ spi.port }}..{{ spi.port + spi.port_range }}</value>
                            {% else %}
                                <value>{{ address }}:{{ spi.port }}</value>
                            {% endif %}
                        {% endfor %}
                    </list>
                </property>
            </bean>
        </property>
    {% endif %}
{% endmacro %}

{% macro zookeeper_discovery_spi(spi) %}
    <bean class="org.apache.ignite.spi.discovery.zk.ZookeeperDiscoverySpi">
        <property name="zkConnectionString" value="{{ spi.connection_string }}"/>
        <property name="zkRootPath" value="{{ spi.root_path }}"/>
        <property name="sessionTimeout" value="{{ spi.session_timeout }}"/>
    </bean>
{% endmacro %}

{% macro tcp_discovery_spi(spi) %}
    <bean class="org.apache.ignite.spi.discovery.tcp.TcpDiscoverySpi">
        {% if spi.local_address %}
            <property name="localAddress" value="{{ spi.local_address }}"/>
        {% endif %}
        {% if spi.so_linger is defined %}
            <property name="soLinger" value="{{ spi.so_linger }}"/>
        {% endif %}
        <property name="localPort" value="{{ spi.port }}"/>
        <property name="localPortRange" value="{{ spi.port_range }}"/>
        {% if spi.conn_recovery_timeout is defined %}
            <property name="connectionRecoveryTimeout" value="{{ spi.conn_recovery_timeout }}"/>
        {% endif %}
        {{ ip_finder(spi) }}
    </bean>
{% endmacro %}

{% macro discovery_spi(spi) %}
    <property name="discoverySpi">
        {% if spi.type == 'TCP' %}
            {{ tcp_discovery_spi(spi) }}
        {% elif spi.type == 'ZOOKEEPER' %}
            {{  zookeeper_discovery_spi(spi) }}
        {% endif %}
    </property>
{% endmacro %}
