@import "bootstrap-variables";

$logo-path: "/images/logo.png";
$input-height: 28px;
$ignite-placeholder-color: #999999;
$ignite-border-color: #ddd;
$ignite-darck-border-color: #aaa;
$ignite-border-bottom-color: $brand-primary;
$ignite-background-color: #fff;
$ignite-header-color: #555;
$ignite-invalid-color: $brand-primary;