

@import '../../../public/stylesheets/variables';

.panel {
    &--ignite {
        border: none;
        border-radius: 0 0 4px 4px;

        background-color: white;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

        & > header {
            height: auto;
            padding: 14px 20px;

            background-color: initial;
            font-size: 16px;

            &:hover {
                text-decoration: none;
            }

            h5 {
                margin: 0;
                font-size: 16px;
                font-weight: normal;
                line-height: 36px;
            }
        }

        & > hr {
            margin: 0;
            border-top: 1px solid #ddd;
        }

        & > section {
            padding: 0 20px;
        }

        & > .panel-heading {
            height: auto;
            padding: 14px 20px;

            background-color: initial;
            border-bottom: 1px solid $table-border-color;

            &:hover {
                text-decoration: none;
            }

            & > .panel-title {
                font-size: 16px;
                line-height: 36px;

                & > .panel-selected {
                    font-size: 14px;
                    font-style: italic;
                    line-height: 36px;
                    cursor: default;
                }
            }
        }

        & > header.header-with-selector {
            margin: 0;
            padding: 14px 20px;
            height: 50px;

            border-bottom: 1px solid #ddd;

            sub {
                bottom: 0;
            }
        }
    }

    &--collapse {
        & > header {
            cursor: pointer;
        }

        [ignite-icon='expand'],
        [ignite-icon='collapse'] {
            width: 13px;
            height: 13px;

            margin-right: 9px;
        }

        [ignite-icon='expand'] {
            display: none;
        }

        [ignite-icon='collapse'] {
            display: inline-block;
        }

        &.in {
            [ignite-icon='expand'] {
                display: inline-block;
            }

            [ignite-icon='collapse'] {
                display: none;
            }
        }
    }
}

// Adding top border for panels in modals
.modal-body {
    .panel--ignite:not(.panel--ignite__without-border) {
        border-top: 1px solid #d4d4d4;
        border-radius: 4px 4px 0 0 ;
    }
}
