

mixin switcher()
    label.switcher--ignite
        input(type='checkbox')&attributes(attributes)
        div(bs-tooltip=attributes.tip && '' data-title=attributes.tip data-trigger='hover' data-placement='bottom')
