//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

header#header.header
    .viewedUser(ng-show='$root.user.becomeUsed')
        | Currently assuming #[strong {{$root.user.firstName}} {{$root.user.lastName}}], #[a(ng-click='$root.revertIdentity()') revert to your identity].
    table.container
        tr
            td.col-xs-3.col-sm-3.col-md-2
                ignite-header-logo
            td(ng-if='$root.user' style='padding-top: 20px')
                ul.nav.navbar-nav(ignite-sidebar ignite-navbar)
                    li(ng-class='{active: $state.includes("base.configuration")}' bs-dropdown='sidebar.items' data-placement='bottom-right' data-trigger='hover focus' data-container='self' data-animation='' ng-click='$event.stopPropagation()')
                        a.dropdown-toggle Configure
                            span.caret

                ul.nav.navbar-nav(ng-if='IgniteDemoMode' ng-controller='notebookController')
                    li.sql-notebooks( ng-class='{active: $state.includes("base.sql")}')
                        a(ui-sref='base.sql.demo') Queries

                ul.nav.navbar-nav(ng-if='!IgniteDemoMode' ng-controller='notebookController')
                    li.sql-notebooks(ng-if='!notebooks.length' ng-class='{active: $state.includes("base.sql")}')
                        a(ng-click='createNotebook()') Queries

                    li.sql-notebooks(ng-if='notebooks.length' ng-class='{active: $state.includes("base.sql")}' bs-dropdown='notebooks' data-placement='bottom-left' data-trigger='hover focus' data-container='self' data-animation='' ng-click='$event.stopPropagation()' aria-haspopup='true' aria-expanded='false')
                        a.dropdown-toggle Queries
                            span.caret

                ul.nav.navbar-nav
                    li(ui-sref-active='active' ng-repeat='item in navbar.items' ng-class='{active: $state.includes("base.monitoring")}' bs-dropdown='item.children' data-placement='bottom-left' data-trigger='hover focus' data-container='self' data-animation='' ng-click='$event.stopPropagation()' aria-haspopup='true' aria-expanded='false')
                        a.dropdown-toggle {{::item.text}}
                            span.caret

                a.padding-left-dflt(ng-controller='demoController')
                    button.btn.btn-info(ng-if='IgniteDemoMode' ng-click='closeDemo()') Close demo
                    button.btn.btn-info(ng-if='!IgniteDemoMode' ng-click='startDemo()') Start demo

                .pull-right
                    ignite-cluster-select

                    ul.nav.navbar-nav.pull-right(ignite-userbar)
                        li(bs-dropdown='userbar.items' data-placement='bottom-right' data-trigger='hover focus' data-container='self' data-animation='' ng-class='{active: $state.includes("settings")}' ng-click='$event.stopPropagation()')
                            a.dropdown-toggle {{user.firstName}} {{user.lastName}}
                                span.caret
