

mixin form-field__email({ label, model, name, disabled, required, placeholder, tip })
    -let errLbl = label[label.length - 1] === ':' ? label.substring(0, label.length - 1) : label

    .form-field.ignite-form-field
        +form-field__label({ label, name, required, disabled })
            +form-field__tooltip({ title: tip, options: tipOpts })

        .form-field__control
            - attributes.type='email'
            +form-field__input({ name, model, disabled, required, placeholder })(attributes=attributes)

        .form-field__errors(
            ng-messages=`$input.$error`
            ng-show=`($input.$dirty || $input.$touched || $input.$submitted) && $input.$invalid`
        )
            if required
                +form-field__error({ error: 'required', message: `${errLbl} could not be empty!` })

            +form-field__error({ error: 'email', message: `${errLbl} has invalid format!` })

            if block
                block
