

mixin form-field__phone({ label, model, name, disabled, required, optional, placeholder, tip })
    -var errLbl = label.substring(0, label.length - 1)

    .form-field.ignite-form-field
        +form-field__label({ label, name, required, optional })
            +form-field__tooltip({ title: tip, options: tipOpts })

        .form-field__control
            - attributes.type='tel'
            +form-field__input({ name, model, disabled, required, placeholder })(attributes=attributes)

        .form-field__errors(
            ng-messages=`$input.$error`
            ng-show=`($input.$dirty || $input.$touched || $input.$submitted) && $input.$invalid`
        )
            if required
                +form-field__error({ error: 'required', message: `${errLbl} could not be empty!` })

            if block
                block

