

mixin form-field__radio({ label, model, name, value, disabled, required, tip })
    .form-field.form-field__radio
        +form-field__label({ label, name, required, disabled, namePostfix: value })
            +form-field__tooltip({ title: tip, options: tipOpts })

        .form-field__control
            - attributes.type='radio'
            - attributes['ng-value'] = value
            +form-field__input({ name, model, disabled, required, placeholder, namePostfix: value })(attributes=attributes)

        .form-field__errors(
            ng-messages=`$input.$error`
            ng-show=`($input.$dirty || $input.$touched || $input.$submitted) && $input.$invalid`
        )
            if block
                block
