//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

include /app/helpers/jade/mixins.jade

-var form = 'general'
-var model = 'backupItem'

.panel.panel-default(ng-form=form novalidate)
    .panel-heading(bs-collapse-toggle)
        ignite-form-panel-chevron
        label General
        ignite-form-field-tooltip.tipLabel
            | General IGFS configuration#[br]
            | #[a(href="https://apacheignite-fs.readme.io/docs/in-memory-file-system" target="_blank") More info]
        ignite-form-revert
    .panel-collapse(role='tabpanel' bs-collapse-target id='general')
        .panel-body
            .col-sm-6
                .settings-row
                    +text('Name:', model + '.name', '"igfsName"', 'true', 'Input name', 'IGFS name')
                .settings-row
                    +clusters(model, 'Associate clusters with the current IGFS')
                .settings-row
                    +dropdown('IGFS mode:', model + '.defaultMode', '"defaultMode"', 'true', 'DUAL_ASYNC',
                    '[\
                        {value: "PRIMARY", label: "PRIMARY"},\
                        {value: "PROXY", label: "PROXY"},\
                        {value: "DUAL_SYNC", label: "DUAL_SYNC"},\
                        {value: "DUAL_ASYNC", label: "DUAL_ASYNC"}\
                    ]',
                    'Mode to specify how IGFS interacts with Hadoop file system\
                    <ul>\
                        <li>PRIMARY - in this mode IGFS will not delegate to secondary Hadoop file system and will cache all the files in memory only</li>\
                        <li>PROXY - in this mode IGFS will not cache any files in memory and will only pass them through to secondary file system</li>\
                        <li>DUAL_SYNC - in this mode IGFS will cache files locally and also <b>synchronously</b> write them through to secondary file system</li>\
                        <li>DUAL_ASYNC - in this mode IGFS will cache files locally and also <b> asynchronously </b> write them through to secondary file system</li>\
                    </ul>')
                .settings-row
                    +number('Group size:', model + '.affinnityGroupSize', '"affinnityGroupSize"', 'true', '512', '1',
                        'Size of the group in blocks<br/>\
                        Required for construction of affinity mapper in IGFS data cache')
            .col-sm-6
                +preview-xml-java(model, 'igfsGeneral')
