//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

include ../../../../../app/helpers/jade/mixins.jade

- var model = 'backupItem'

form.panel.panel-default(name='statistics' novalidate)
    .panel-heading(bs-collapse-toggle='' ng-click='__show__ = true')
        ignite-form-panel-chevron
        label Statistics
        ignite-form-field-tooltip.tipLabel
            | Cache statistics and management settings
        ignite-form-revert
    .panel-collapse(role='tabpanel' bs-collapse-target id='statistics')
        .panel-body(ng-if='__show__')
            .col-sm-6
                .settings-row
                    +checkbox('Statistics enabled', model + '.statisticsEnabled', 'statisticsEnabled', 'Flag indicating whether statistics gathering is enabled on a cache')
                .settings-row
                    +checkbox('Management enabled', model + '.managementEnabled', 'managementEnabled', 'Flag indicating whether management is enabled on this cache')
            .col-sm-6
                +preview-xml-java(model, 'cacheStatistics')
