#
# Copyright 2019 GridGain Systems, Inc. and Contributors.
#
# Licensed under the GridGain Community Edition License (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.gridgain.com/products/software/community-edition/gridgain-community-edition-license
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# Sample NGINX configuration with mutual SSL.

worker_processes  1;

events {
    worker_connections  1024;
}

http {
    include mime.types;
    default_type  application/octet-stream;
    sendfile on;
    keepalive_timeout 65;
    upstream backend-endpoint {
        server localhost:3000;
    }

    server {
       listen 80 default_server;
       listen [::]:80 default_server;
       server_name _;
       return 301 https://$host$request_uri;
    }

    server {
        set $ignite_console_dir path/to/static/content;
 
        listen       443 ssl;
        server_name  localhost;
        ssl_certificate         path/to/ssl/server.crt;
        ssl_certificate_key     path/to/ssl/server.nopass.key;
        ssl_client_certificate  path/to/ssl/ca.crt;
        ssl_verify_client       on;
        root $ignite_console_dir;
        error_page 500 502 503 504 /50x.html;

        location / {
            try_files $uri /index.html = 404;
        }

        location /api/v1 {
            proxy_set_header Host $http_host;
            proxy_pass http://backend-endpoint;
        }

        location /browsers {
            proxy_http_version 1.1;
            proxy_pass http://backend-endpoint;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_pass_header X-XSRF-TOKEN;
        }

        location /agents {
            proxy_http_version 1.1;
            proxy_pass http://backend-endpoint;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header Host $host;
        }

        location = /50x.html {
            root $ignite_console_dir/error_page;
        }
    }
}
