//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

.modal(tabindex='-1' role='dialog')
    .modal-dialog
        .modal-content
            .modal-header
                h4.modal-title 
                    i.fa.fa-info-circle
                    | Activities: {{ ctrl.user.userName }}
            .modal-body.modal-body-with-scroll(id='activities-user-dialog')
                table.table.table-striped.table-bordered.table-hover(scrollable-container='#activities-user-dialog' st-table='displayedRows' st-safe-src='ctrl.data')
                    thead
                        th.text-center(st-sort='action | translate') Description
                        th.text-center(st-sort='action') Action
                        th.text-center(st-sort='amount') Visited
                    tbody
                        tr(ng-repeat='row in displayedRows')
                            td.text-left {{ row.action | translate }}
                            td.text-left {{ row.action }}
                            td.text-left {{ row.amount }}
            .modal-footer
                button.btn.btn-primary(id='confirm-btn-confirm' ng-click='$hide()') Close
